<footer class="footer">
	<div class="footer-main">
		<div class="row">
			<div class="row__col-3">
				<h3>Déb’Acteur</h3>
				<p>Créée en 2020,  Déb’Acteur fait partie de la coopérative Clara et a pour objectif de sensibiliser le plus grand nombre à la démocratie participative.</p>
			</div>
			<div class="row__col-3">
				<h3>Partenaires </h3>
				<table bgcolor="#2d3237">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<a href="https://cojob.fr/" target="_blank">
									<img alt="logo partenaire Cojob" src="{{ site.baseurl }}/images/footer__cojob.png" style="width: 100px; height: 30px; background-color: white;">
								</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">
								<a href="https://www.social-bar.org/" target="_blank">
									<img alt="logo partenaire Le Social Bar" src="{{ site.baseurl }}/images/footer__le_social_bar.png" style="width: 80.5px; height: 50px;">
								</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">
								<a href="https://ledrenche.ouest-france.fr/" target="_blank"><img alt="logo partenaire Le Drenche" src="{{ site.baseurl }}/images/drenche.png" style="width: 108.5px; height: 50px;">
								</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; margin: 105px;">
								<a href="https://www.bsb-education.com" target="_blank"><img alt="logo partenaire Burgundy School of Business" src="{{ site.baseurl }}/images/footer__bsb.jpeg" style="width: 100px; height: 41.5px;">
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row__col-3">
				<h3>Liens utiles</h3>
				<ul class="useful_links">
					<li>
						<a href="a-propos.html">Qui sommes-nous ?</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
					<li>
						<a href="mentions-legales.html">Mentions légales</a>
					</li>
					<li>
						<a href="politique-de-confidentialite.html">Politique de confidentialité</a>
					</li>
				</ul>  
			</div>
			<div class="row__col-3">
				<h3>Où nous trouver</h3>
				<div>
					<p> 43 Boulevard de Magenta <br> 75010 Paris</p>
					<p>debacteur@protonmail.com</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rights">
		<div class="row">
			<div class="row__col-8">
				<p>Copyright © 2021 par <a href="http://www.debacteur.fr" target="_blank">Déb'Acteur</a>. Tous droits réservés. Oui, il n'y a pas de cookies sur ce site car nous ne captons aucune donnée de votre part. Mais si vous avez envie de prendre un café avec nous, avec plaisir, contactez nous !<br><em>Développé avec <i class="fa-heart"></i> par <a href="http://www.quentinparrot.com" target="_blank">Quentin Parrot, Freelance web développeur à Berlin</a></em></p>
			</div>
			<div class="row__col-4">
				<ul class="social-icons">
					<li class="social-icons__facebook">
						<a href="https://www.facebook.com/DevenirActeurDuDebat" target="_blank">
							<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fa-facebook" d="M20.3125 0.457031C21.6037 0.457031 22.7078 0.871085 23.6247 1.69919C24.5416 2.5273 25 3.52446 25 4.69067V18.8028C25 19.969 24.5416 20.9662 23.6247 21.7943C22.7078 22.6224 21.6037 23.0365 20.3125 23.0365H17.2526V14.2899H20.4915L20.9798 10.8794H17.2526V8.70381C17.2526 8.15501 17.3801 7.7434 17.6351 7.469C17.8901 7.1946 18.3865 7.0574 19.1243 7.0574L21.11 7.0427V3.99977C20.4264 3.91157 19.4607 3.86746 18.2129 3.86746C16.7372 3.86746 15.5572 4.25947 14.6729 5.04348C13.7885 5.82748 13.3464 6.9349 13.3464 8.36571V10.8794H10.0911V14.2899H13.3464V23.0365H4.6875C3.39627 23.0365 2.29221 22.6224 1.37533 21.7943C0.458442 20.9662 0 19.969 0 18.8028V4.69067C0 3.52446 0.458442 2.5273 1.37533 1.69919C2.29221 0.871085 3.39627 0.457031 4.6875 0.457031H20.3125Z" fill="#eee"/>
							</svg>
						</a>
					</li>
					<li class="social-icons__instagram">
						<a href="https://www.instagram.com/debacteur/" target="_blank">

							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<defs>
								<radialGradient id="Gradient" r="107%" fx="50%" fy="50%" cx="30%" cy="107%">
								<stop offset="0%" stop-color="#fdf497"/>
								<stop offset="5%" stop-color="#fdf497"/>
								<stop offset="45%" stop-color="#fd5949"/>
								<stop offset="60%" stop-color="#d6249f"/>
								<stop offset="95%" stop-color="#285AEB"/>
								</radialGradient>
								</defs>
								<path class="fa_instagram" d="M16.8499 0H7.14891C5.25338 0.00222758 3.43614 0.756295 2.0959 2.09675C0.75567 3.43721 0.00190887 5.25458 0 7.15011L0 16.8511C0.00222758 18.7466 0.756295 20.5639 2.09675 21.9041C3.43721 23.2443 5.25458 23.9981 7.15011 24H16.8511C18.7466 23.9978 20.5639 23.2437 21.9041 21.9032C23.2443 20.5628 23.9981 18.7454 24 16.8499V7.14891C23.9978 5.25338 23.2437 3.43614 21.9032 2.0959C20.5628 0.75567 18.7454 0.00190887 16.8499 0V0ZM21.5862 16.8499C21.5862 17.4719 21.4637 18.0878 21.2256 18.6624C20.9876 19.237 20.6388 19.7591 20.1989 20.1989C19.7591 20.6388 19.237 20.9876 18.6624 21.2256C18.0878 21.4637 17.4719 21.5862 16.8499 21.5862H7.14891C5.89298 21.5859 4.68859 21.0867 3.80063 20.1985C2.91266 19.3103 2.41382 18.1058 2.41382 16.8499V7.14891C2.41414 5.89298 2.91328 4.68859 3.80148 3.80063C4.68967 2.91266 5.89418 2.41382 7.15011 2.41382H16.8511C18.107 2.41414 19.3114 2.91328 20.1994 3.80148C21.0873 4.68967 21.5862 5.89418 21.5862 7.15011V16.8511V16.8499Z" fill="#eee"/>
								<path class="fa_instagram" d="M11.9992 5.79297C10.354 5.79551 8.777 6.45026 7.61381 7.61368C6.45061 8.7771 5.79617 10.3543 5.79395 11.9994C5.79585 13.645 6.45032 15.2227 7.61381 16.3864C8.7773 17.5501 10.3548 18.2049 12.0004 18.2071C13.6462 18.2052 15.224 17.5506 16.3878 16.3868C17.5515 15.2231 18.2062 13.6452 18.2081 11.9994C18.2055 10.3539 17.5504 8.77645 16.3865 7.61319C15.2226 6.44992 13.6448 5.79576 11.9992 5.79417V5.79297ZM11.9992 15.7933C10.9933 15.7933 10.0287 15.3937 9.31741 14.6824C8.60615 13.9712 8.20657 13.0065 8.20657 12.0006C8.20657 10.9948 8.60615 10.0301 9.31741 9.31883C10.0287 8.60758 10.9933 8.208 11.9992 8.208C13.0051 8.208 13.9697 8.60758 14.681 9.31883C15.3923 10.0301 15.7918 10.9948 15.7918 12.0006C15.7918 13.0065 15.3923 13.9712 14.681 14.6824C13.9697 15.3937 13.0051 15.7933 11.9992 15.7933V15.7933Z" fill="#eee"/>
								<path class="fa_instagram" d="M18.2189 7.32703C19.0402 7.32703 19.7059 6.66128 19.7059 5.84003C19.7059 5.01878 19.0402 4.35303 18.2189 4.35303C17.3977 4.35303 16.7319 5.01878 16.7319 5.84003C16.7319 6.66128 17.3977 7.32703 18.2189 7.32703Z" fill="#eee"/>
							</svg>
						</a>
					</li>
					<li class="social-icons__linkedin">
						<a href="https://www.linkedin.com/company/49137407" target="_blank">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fa_linkedin" fill-rule="evenodd" clip-rule="evenodd" d="M2.96792e-07 2.00509C2.96792e-07 1.47331 0.21125 0.963308 0.587278 0.58728C0.963305 0.211253 1.47331 2.67307e-06 2.00509 2.67307e-06H21.9927C22.2563 -0.000427747 22.5173 0.0511258 22.7609 0.151712C23.0045 0.252298 23.2258 0.399941 23.4123 0.586188C23.5987 0.772435 23.7466 0.993628 23.8475 1.2371C23.9483 1.48058 24.0001 1.74156 24 2.00509V21.9927C24.0003 22.2563 23.9486 22.5174 23.8479 22.761C23.7472 23.0046 23.5994 23.2259 23.4131 23.4123C23.2268 23.5988 23.0055 23.7466 22.762 23.8475C22.5184 23.9483 22.2574 24.0001 21.9938 24H2.00509C1.74169 24 1.48086 23.9481 1.23752 23.8473C0.994184 23.7464 0.773096 23.5986 0.586892 23.4123C0.400688 23.226 0.253017 23.0049 0.152316 22.7615C0.0516145 22.5181 -0.000143013 22.2572 2.96792e-07 21.9938V2.00509ZM9.49964 9.15055H12.7495V10.7825C13.2185 9.84437 14.4185 9 16.2218 9C19.6789 9 20.4982 10.8687 20.4982 14.2975V20.6487H16.9996V15.0785C16.9996 13.1258 16.5305 12.024 15.3393 12.024C13.6865 12.024 12.9993 13.212 12.9993 15.0785V20.6487H9.49964V9.15055ZM3.49964 20.4993H6.99927V9H3.49964V20.4982V20.4993ZM7.5 5.24946C7.5066 5.5491 7.45328 5.84704 7.34317 6.1258C7.23306 6.40456 7.06838 6.65851 6.8588 6.87276C6.64921 7.08702 6.39894 7.25725 6.12268 7.37346C5.84641 7.48968 5.54972 7.54955 5.25 7.54955C4.95028 7.54955 4.65359 7.48968 4.37732 7.37346C4.10106 7.25725 3.85079 7.08702 3.6412 6.87276C3.43162 6.65851 3.26694 6.40456 3.15683 6.1258C3.04672 5.84704 2.9934 5.5491 3 5.24946C3.01295 4.6613 3.25569 4.10159 3.67624 3.69021C4.09678 3.27882 4.6617 3.04846 5.25 3.04846C5.8383 3.04846 6.40322 3.27882 6.82376 3.69021C7.24431 4.10159 7.48705 4.6613 7.5 5.24946V5.24946Z" fill="#eee"/>
							</svg>




						</a>
					</li>
				</ul>
				<div class="CTA--workshop-presentation workshop-presentation__CTA CTA CTA--workshops-presentation ">
					<a class="CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
				</div>
			</div>
		</div>
	</div>
</footer>
