<nav class="header">
	<a class="header__logo" href="/">
		<img class="image" alt="logo Debacteur" src="{{ site.baseurl }}/images/Logo.svg"></img>
	</a>
	<ul class="menu-nav">
		<li class="menu-nav__item--mobile">
			<a class="menu-nav__item-link" href="/">
				<img class="menu-nav__img" alt="Logo Debacteur mobile" src="{{ site.baseurl}}/images/Logo-mobile.svg"></img>
				<p class="menu-nav__logo">Accueil</p>
			</a>
		</li>
		<li class="menu-nav__item">
			<a class="menu-nav__item-link menu-nav__item--left" href="ateliers-scolaires-et-superieurs">Ateliers Scolaires</a>
		</li>
		<li class="menu-nav__item menu-nav__item--XP">
			<a class="menu-nav__item-link" href="experiences-citoyennes">Expérience citoyenne</a>
		</li>
		<div class="menu-nav--side-bar">
			<div class="side-bar__bottom">
				<li class="menu-nav__item">
					<a class="menu-nav__item-link" href="a-propos">À Propos</a>
				</li>
				<li class="menu-nav__item">
					<a class="menu-nav__item-link" href="contact">Contact</a>
				</li>
			</div>
		</div>
		<li class="menu-nav__item menu-nav__item--CTA CTA">
			<a class="CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
		</li>
		<li class="menu-nav__item--mobile menu-nav__item--right">
			<a class="menu-nav__item-link">
				<img class="menu-nav__img" alt="Hamburger menu" src="{{ site.baseurl }}/images/Hamburger-menu.svg"></img>
			</a>
		</li>
	</ul>
</nav>
