<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/soundmanager.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/soundmanager2.js"></script>
<script src="{{ site.baseurl }}/js/carousel.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
