<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/js/carousel.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script src="{{ site.baseurl }}/js/arrow.js"></script>
<script src="{{ site.baseurl }}/js/newsletter_XP.js"></script>
