<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/soundmanager.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/soundmanager2.js"></script>
<script src="{{ site.baseurl }}/js/carousel.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ site.baseurl }}/js/slick-starter.js"></script>
<script src="{{ site.baseurl }}/js/newsletter_index.js"></script>
