/* ====================================
 *
 *		A PROPOS
 *
 * ================================= */

.values {
	padding: 0px 15px 0px 15px;
	display: flex;
	flex-flow: wrap;

	.group-values {
		display: flex;
		flex-direction: row;
	}
	.value {
		&__inner {
			padding: 5px;
			width: 250px;
			height: 200px;
			clip-path: polygon(0% 6%, 60% 6%, 45% 30%, 0% 30%);
			transition: clip-path .5s ease-in-out;

			&--yellow {
				background: #FFCD00;
			}
			&--black {
				background: #000;
				color: #fff;
			}
		}
		&:hover .value__inner {
			clip-path: polygon(0% 6%, 100% 6%, 100% 100%, 0% 100%);
		}
	}

	@media screen and (max-width: $break-small) {
		.group-values {
			flex-direction: column;
			margin: auto;
		}
		.value {
			&__inner {
				clip-path: polygon(0% 6%, 100% 6%, 100% 100%, 0% 100%);
			}
		}
	}
}

.pillars {
	.p_block {
		flex-basis: 33%;
		&__wrapper{
			display: flex;
			flex-flow: wrap;
		}
	}
	.p_goal {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 4fr;
		grid-template-areas: "target text";
		&__target {
			grid-area: target;
			width: 150px;
			height: 150px;
			background: url(../images/about-us/CIBLE.svg) no-repeat;
			background-size: 75% 75%;
			margin: auto;
		}
		&__text {
			grid-area: text;
			font-size: var(--sub-title-size);
			text-align: center;
		}
	}
	@media screen and (max-width: $break-large) {
		padding: 0 15px;
	}
	@media screen and (max-width: $break-small) {
		.p_block {		
			flex-basis: 80%;
		}
	}
}

.team {
	.T_block {
		flex-basis: 30%;
		margin: 0 2px 40px 0;
		padding: 0 15px 15px 0;
		&__wrapper {
			display: flex;
			flex-flow: wrap;
			justify-content: center;
		}
		.sub-title {
			text-align: center;
		}
		&__bottom {
			margin: 0 75px 0 75px;
		}
	}
	@media screen and (max-width: $break-large) {
		padding: 0 15px;
	}
	@media screen and (max-width: $break-small) {
		.T_block {
			flex-basis: 80%;
			margin: auto;
		}
	}
}

