/* ====================================
 *
 *		ATELIER
 *
 * ================================= */

.bold {
	font-weight: bold;
}
@media screen and (max-width: $break-small) {
	.CTA{
		margin: 15px auto;
		&-block {
			margin: 15px auto;
		}
	}
}
.explanation {
	&-wrapper {
		display: flex;
	}
	&__title {
		margin: 40px 0;

		.debacteur-workshop & {
			margin: 60px 0 20px 0;
		}
	}

	&-card {
		width: 25%;
		margin: 0 auto;
		&__title {
			background: #ffcd00;
			font-weight: 300;
		}
		&__text {

		}
	}

	.Carousel-workshop--school & {
		@media screen and (max-width: $break-small) {
			&-wrapper {
				display: block;
			}
			&__title {
				font-size: var(--sub-title-size);
			}
			&-card {
				width: unset;
				margin: 0 auto;
				&__title {
					background: #000;
					font-weight: 300;
					color: #ffcd00;
				}
			}

		}
	}
	@media screen and (max-width: $break-small) {
		&-wrapper {
			display: flex;
			flex-direction: column;
		}
		&__title {
			margin: 40px 0;

			.debacteur-workshop & {
				margin: 60px 0 20px 0;
			}
		}

		&-card {
			width: 100%;
			margin: 0 auto;
			&__title {
				background: #ffcd00;
				font-weight: 300;
			}
			&__text {

			}
		}

		.Carousel-workshop--school & {
			@media screen and (max-width: $break-small) {
				&-wrapper {
					display: block;
				}
				&__title {
					font-size: var(--sub-title-size);
				}
				&-card {
					width: unset;
					margin: 0 auto;
					&__title {
						background: #000;
						font-weight: 300;
						color: #ffcd00;
					}
				}

			}
		}
	}
}

.colapse-workshop {
	position: fixed;
	bottom: 120px;
	right: 25px;
	display: block;
	width: 135px;
	height: 50px;
	background: black;
	border-radius: 7px;
	border: 2px solid #ffcd00;
	color: #ffcd00;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	font-weight: bold;
	z-index: 600;
}
/* ====================================
 *
 *	ATELIER > SHOWCASE
 *
 * ================================= */


.wrapper-school-workshops-presentation {
	position: relative;

	&__background {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);
	}

	@media screen and (max-width: $break-small) {

		&__background {
			display: none;
		}
	}
}
/* ====================================
 *
 *	ATELIER > WORKSHOP
 *
 * ================================= */

.debacteur-workshop {
	@media screen and (min-width: $break-large) {
		padding: 50px 15px 0 15px;
	}
}

/* ====================================
 *
 *	ATELIER > ORGANISATION
 *
 * ================================= */

.organisation {
	position: relative;
	&-wrapper {
		@media screen and (max-width: $break-large) {
			padding: 0 15px 0 15px;
		}
	}

	& .number {
		position: absolute;
		top: 50%;
		left: 45%;
		padding: 5px;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: #ffcd00;

		&__text {
			margin: 0;
			transform: translate(20%, -10% );
			color: #fff;
			font-size: 80px;
			font-weight: bold;
		}
	}
	&-step1 {
		&__explanation {
			display: grid;
			grid-template-columns:  1fr 0.3fr 1fr;
			grid-template-rows: 1fr 0.3fr 2fr;
			grid-template-areas: 	"info . Image"
			". . Image"
			"text . Image";

			& .info {
				grid-area: info;
				background: #ffcd00;
				font-weight: bold;
			}
			& .text {
				grid-area: text;
			}
		}
	}

	&-step2 {
		&__title {
			text-align: right;
		}
		&__explanation {
			display: grid;
			grid-template-columns:  1fr 0.3fr 1fr;
			grid-template-rows: 1fr 0.3fr 2fr;
			grid-template-areas: 	"Image . info"
			"Image . ."
			"Image . text";

			& .info {
				grid-area: info;
				background: #ffcd00;
				font-weight: bold;
			}
			& .text {
				grid-area: text;
			}
		}
	}
	@media screen and (max-width: $break-small) {
		& .number {
			top: -125px;
			left: -21px;
		}
		&-step1 {
			&__title {
				margin-top: 175px;
			}
			&__explanation {
				grid-template-columns:  1fr;
				grid-template-areas: 	"info"
				"."
				"text";
			}
		}

		&-step2 {
			&__title {
				margin-top: 175px;
				text-align: left;
			}
			&__explanation {
				grid-template-columns:  1fr;
				grid-template-areas: 	"info"
				"."
				"text";
			}
		}
	}
}
