/* ====================================
 *
 *		CONTACT
 *
 * ================================= */

.contact-panel {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:	"link info";
	.title {
		width: unset;
		&::after {
			content: unset;
		}
	}	
	.contact-link {
		grid-area: link;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 0.5fr 1fr 1fr;
		grid-template-areas: "title ." "mail social" "CTA-block CTA-block";
		padding: 0px 15px 15px 15px;
		.title {
			animation: mymove 1s 1;

			@keyframes mymove {
				from {right: -100%; opacity: 0;}
				to {right: 0; opacity: 1;}
			}
		}
		&__mail {
			grid-area: mail;
			a {	
				position: relative;
				display: inline-block;
				overflow: hidden;
				&::after {
					position: absolute;
					left: -35%;;
					content: "";
					width: 0;
					height: 100%;
					background: #ffcd00;
					transform: skew(50deg);
					z-index: -1;
					transition: all 0.5s;
					transform-origin: top left;
				}
				&:hover {
					&::after {
						width:135%;
					}
				}
			}
		}
		&__social-media {
			grid-area: social;
		}
		.CTA {
			margin: 15px auto;
			&-block {
				flex-direction: column;
			}
		}
	}
	.informations-pratiques {
		position: relative;
		grid-area: info;
		background: #ffcd00;
		.title {
			top: 10px;
			margin: 0;
			padding: 15px;
		}
		&__text {
			padding: 15px;
		}
		&::after {
			content: "";
			background: #ffcd00;
			position: absolute;
			width: 50vw;
			height: 100%;
			top: 0;
			left: 100%;
		}
	}
	@media screen and (max-width: $break-small) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:	"link"
					"info";
		.contact-link {
			grid-area: link;
			display: flex;
			flex-direction: column;
		}
	}
}
