/*======================================
 *
 *		FOOTER
 *
 * ================================== */

.footer {
	position: relative;
	padding: 50px 15px 0 15px;
	background: #2d3237;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		float: left;
		width:100%;
		height: 100%;
		background: #2d3237;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: -100%;
		float: right;
		width: 100%;
		height: 100%;
		background: #2d3237;
	}

	.row {
		display: flex;
		flex-direction: horizontal;
		list-decoration: none;

		&__col-3 {
			width: 25%;
		}

		&__col-4 {
			width: 33%;
		}

		&__col-8 {
			width: 66%;
		}

		&__col-12 {
			width: 100%;
		}
	}

	p {
		color: #b4b7ba;
		line-height: 24px;

		a {
			color: #b4b7ba;
		}
	}

	tr {
		margin: 2px;
	}

	.footer-main {
		.useful_links{
			padding: 0 40px 0 0;

			li {
				position: relative;
				border-bottom: 1px solid #3e464e;
				display: inline-block;
				width: 100%;
				line-height: 33px;

				i {
					float: right;
					line-height: 33px;
				}

				&:nth-last-child(1) {
					border: none;
				}

				a {
					display: inline-block;
					width: 100%;
					color: #b4b7ba;

					&:hover {
						color: #eee;
						transition: all 0.5s ease-in-out;
					}
				}

				&::after {
					content: url("../images/chevron.svg");
					position: absolute;
					top: 2px;
					right: 0%;
					color: white;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transform: translate(0, 0);
				}
			}
		}
	}	

	h3 {
		margin-top: 0px;
		color: #fff;
		font-size: 18px;
		font-weight: normal;

		&::after {
			content: ' ';
			margin: 10px 0px 20px 0px;
			display: block;
			width: 35px;
			height: 2px;
			background: #647382;
		}
	}

	tbody a img {
		margin: 5px;
	}

	.rights {
		margin-top: 30px;
		padding: 65px 0;
		position: relative;
		background: #23282d;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			float: left;
			width:100%;
			height: 100%;
			background: #23282d;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -100%;
			float: right;
			width: 100%;
			height: 100%;
			background: #23282d;
			z-index: 300;
		}

		a {

			&:hover {
				color: #eee;
				transition: all 0.5s ease-in-out;
			}
			
			&.CTA__link:hover {
				color: #000;
			}
		}
		p {
			margin: 0px;
			line-height: 30px;

			.fa-heart {
				content: url("../images/heart.svg");
			}
		}
	}
	@media screen and (max-width: $break-small) {
		.row {
			flex-direction: column;

			&__col-3 {
				width: 100%;
			}
		}
		.rights {
			padding-bottom: 100px;
		}
	}
}
