/* ====================================
 *
 *		HP > SHOWCASE
 *
 * ================================= */

.showcase {
	@media screen and (max-width: $break-large) {
		padding: 0 15px 0 15px;
	}
}

/* ====================================
 *
 *		HP > THEY TALK ABOUT US
 *
 * ================================= */

.they_talk_about_us {
/* Lecteur audio */
	
	.lecture{
		float:left;
		
		button.play {
			background:transparent;
			border:0;
			margin:2px 0 0 0;
			cursor: pointer;
			display: inline-block;
			margin-right: 0.1em;
			overflow: visible;
			padding: 0;
			position: relative;
			text-align: center;
			text-decoration: none !important;
			
			span{
				width:45px;
				height:41px;
				display: block;
				overflow: hidden;
				text-indent: -99999px;
				margin:6px 0 0 0;
			}
			
			.ui-icon-play {
				background:url("../../images/Homepage/playpause.png") no-repeat 0 0;
			}
			
			&:hover .ui-icon-play {
				background:url("../../images/Homepage/playpause.png") no-repeat -45px 0;
			}
			
			.ui-icon-pause {
				background:url("../../images/Homepage/playpause.png") no-repeat -90px 0;
			}
			
			&:hover .ui-icon-pause {
				background:url("../../images/Homepage/playpause.png") no-repeat -135px 0;
			}
		}
	}
	
	.controles{
		float:left;
		margin-left: 15px;
		width:88%;
		
		.track {
			margin: 0 0 5px 0;
		}
		
		.lesinfos {
			font-size: 13px;
			line-height: 1.3em;
			margin: 0 0 10px 75%;
			color:#999999;
			
			.file {
				display:none;
			}
		}
	}
	
	.time, .duration, .file{
		display:inline;
	}
	
	.progress_bar{
		float:left;
		height:15px;
		width:70%;
		position:relative;
		border-radius:0;
		border:0;
		padding:0;
		background:#eeeeee;
		cursor:pointer;
		
		.position{
			background: #FFCD00;
			height: 15px;
			position: absolute;
			width:0px;
		}
		
		.loading{
			height: 15px;
			cursor:pointer;
			background:#cccccc;
			width:0px;
		}
	}
	
	/* player */
	 .audio {
		padding:15px 0 15px 0;
		margin:25px 18% 25px 9%;
		padding:15px 0 15px 0;
		overflow: auto;
		display: grid;
		grid-template-areas: "picture description" "player player";
		border-radius: 0;
		border: 1px dashed #cccccc;
		border-width: 1px 0 1px 0;	
		
		&_title {
			font-size: var(--sub-title-size);
			font-weight: var(--sub-title-weight);

			img {
				height: 128px;
				width: 128px;
			}
		}
		.Carnets {
			grid-area: picture;
			background-color: #eee;
			border-radius: 5px;
		}
		.description {
			grid-area: description;
		}

		p {
			font-style: var(--text-style);
			font-size: var(--text-size);
			font-weight: var(--text-weight);
			line-height: var(--text-line-height);
		}
	}
	.player {
		grid-area: player;	
	}
	@media (max-width: 1068px) { /* tablette */
		padding: 0 15px 0 15px;
			.description {
				margin: 0 0 0 32px;
			}
		 .controles {
			width: 80%;
			
			.lesinfos {
				margin: 0 0 10px 80%;
			}
		}
		 .progress_bar {
			width: 75%;
		}
	}
	@media (max-width: 755px) { /* cas intermediaires… */	
		.audio {
			margin:25px 30px 25px 30px;
		}
		 .controles {
			width: 80%;
			
			.lesinfos {
				margin: 0 0 10px 75%;
			}
		}
		 .progress_bar {
			width: 70%;
		}
	}
	
	@media (max-width: 480px) { /* Téléphone */

		.audio {
			margin: unset;

			&_title {
				img {
					width: 64px;
					height: 64px;
				}
			}
		}
		 .controles {
			width: 75%;
			
			.lesinfos {
				margin: 5px 0 10px 0;
			}
		}
		.progress_bar {
			width: 100%;
			float: none;
		}
	}	

}
/* ====================================
 *
 *		HP > TRUST
 *
 * ================================= */

.trust {
	.slick-prev {
		left: 10px;

		&::before { 
			color: #ffcd00;
		}
	}

	.slick-next{
		right:10px;
		
		&::before {
			color: #ffcd00;
		}
	}
	
	@media screen and (max-width: $break-large) {
		padding: 0 15px 0 15px;
	}
}
/* ====================================
 *
 *		HP > KNOW-HOW
 *
 * ================================= */

.know-how {
	display: flex;
	flex-direction: column;

	@media screen and (max-width: $break-large) {
		padding: 0 15px 0 15px;
	}
}

/* ====================================
 *
 *		HP > TESTIMONIALS
 *
 * ================================= */

.testimonials {
	display: flex;
	flex-direction: column;

	.testimonials-carousel {
		position: relative;
		margin-bottom: 2rem;
		padding: 0 0 0 1rem;
		border-radius: 150%;
		height: 650px;

		.Carousel-navigation-button {
			position: absolute;
			top: 40%;
			border-radius: 100%;
			width: 100px;
			height: 100px;
			background-color: #ffcd00;
			box-shadow: 0px 4px 4px rgba(0, 0 , 0,0.25);
			color: black;
			font-size: 40px;
			line-height: 40px;
			font-weight: 100;
			transform: translate(-50%, 0%);	

			&--prev {
				left: 250px;
			}

			&--next {
				right: 125px;
			}
		}

		.Carousel__slide {
			position: relative;
			display: block;
			height: 550px;

			.testimonial {
				position: relative;
				top: 50%;
				left: 50%;
				margin: 0;
				width: 500px;
				height: 500px;
				background: radial-gradient(
				ellipse at center,
				#ffcd00 0%,
				#ffcd00 70%,
				#fff 70.3%
				);
				color: black;
				transform: translate(-50%, -50%);

				&::before {
					content: "";
					float: left;
					width: 50%;
					height: 100%;
					shape-outside: polygon(
					0 0,
					98% 0,
					50% 6%,
					23.4% 17.3%,
					6% 32.6%,
					0 50%,
					6% 65.6%,
					23.4% 82.7%,
					50% 94%,
					98% 100%,
					0 100%
					);
					shape-margin: 7%;
				}
				&__text { /* text */
					padding: 0;
					text-align: center;
					height: 100%;
					font-style: var(--text-style);
					font-size: var(--text-size);
					line-height: var(--text-line-height);

					&::before {
						content: "";
						float: right;
						width: 50%;
						height: 100%;
						shape-outside: polygon(
						2% 0%,
						100% 0%,
						100% 100%,
						2% 100%,
						50% 94%,
						76.6% 82.7%,
						94% 65.6%,
						100% 50%,
						94% 32.6%,
						76.6% 17.3%,
						50% 6%
						);
						shape-margin: 7%;
					}
				}
				&-footer {
					position: absolute;
					bottom: 50px;
					text-align: center;
					width: 100%;
					font-size: 17px;
					font-style: italic;
					font-weight: bold;
				}
			}
		}
	}

	@media screen and (max-width: $break-large) {
		padding: 0 15px 0 15px;

		.testimonials-carousel {
			.Carousel-navigation-button {
				&--prev {
					left: 135px;
				}

				&--next {
					left: unset;
					right: 10px;
				}
			}
		}
	}
	@media screen and (max-width: $break-small) {
		padding: 0 15px 0 15px;

		.testimonials-carousel {
			margin: 0;
			padding: 0;
			border-radius: 10px;
			border: 4px solid #ffcd00;
			height: max-content;
			overflow: visible;
			&__wrapper{
				height: max-content;
				overflow: hidden;
			}
			&__quote-top {
				content: url("../images/quotes-testimonials.svg");
				position: absolute;
				top: -15px;
				left: 10px;
				z-index: 1;
			}
			&__quote-bottom {
				content: url("../images/quotes-testimonials.svg");
				position: absolute;
				bottom: -15px;
				right: 10px;
				z-index: 1;
				transform: rotate(180deg);
			}
			.Carousel-navigation-button {
				position: absolute;
				width: 10px;
				height: 10px;
				background: none;
				box-shadow: unset;
				border: none;
				color: #ffcd00;
				font-size: 40px;
				line-height: 40px;
				font-weight: 100;
				transform: unset;	

				&--prev {
					left: 5px;
				}

				&--next {
					left: unset;
					right: 25px;
				}
			}
			.Carousel__slide {
				width: calc(100vw - 25px);
				height: unset;
				.testimonial {
					padding: 25px 35px 100px 35px;
					top: 0;
					left: 0;
					width: calc(100vw - 15px);
					height: unset;
					transform: unset;

					background: transparent;
					&::before {
						content: unset;
					}
					&__text {
						padding: 30px 25px 0 25px; 
						&::before {
							content: unset;
						}
					}
					&-footer {
						position: absolute;
						bottom: 35px;
						right: 40px;
						text-align: left;
						width: unset;
						font-size: var(--sub-title-size);
						font-style: italic;
						font-weight: bold;

						&__name {
							font-size: var(--screen-title-size);
							margin: 0;
						}
						&__role {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.CTA {
		margin: 32px auto;
	}
}

/* ====================================
 *
 *		HP > ROLE
 *
 * ================================= */

.role {
	position: relative;	

	&__title {
	}

	.role-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 5fr 1fr;
		grid-template-areas: 	"text text . ."
		"text text Image Image"
		"text text Image Image"
		". CTA-block CTA-block .";

		.shaped-text {
					&::before {
						content: "";
						float: right;
						width: 50%;
						height: 100%;
						shape-outside: polygon(100% 0%, 100% 100%, 5.8% 70.32%, 97.2% 45.22%, 95.6% 1.81%);
						shape-margin: 7%;
					}
		}
		.SVG_container__img--goal {
			transform: scale(1.5);
		}
	}
	@media (orientation: landscape) and (max-width: $break-large) {
		position: relative;	
		padding: 0 15px 0 15px;

		&__title {
		}

		.role-grid {
			display: flex;
			flex-direction: column;
			align-items: center;	
			.encapsulated-text {

				&__shape1 {
					left: unset;
				}
				&__shape2 {
					left: unset;
				}
			}
			.CTA {
				margin: 15px;
			}
			.SVG_container__img--goal {
				display: none;
				transform: scale(1.5);
			}
		}
	}
	@media screen and (max-width: $break-small) {
		position: relative;	
		padding: 0 15px 0 15px;

		&__title {
		}

		.role-grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas: 	"text"
			"Image"
			"CTA-block";

			.CTA {
				margin: 15px;
			}
			.SVG_container__img--goal {
				transform: scale(1.5);
			}
		}
	}
}
