/* ====================================
 *
 *		NAVBAR
 *
 * ================================= */

.header {
	position: fixed;
	top: 0;
	padding: 0 15px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 100px;
	background: #fff;
	box-shadow: -10px 4px 4px -4px rgba(0, 0, 0, 0.125), 10px 4px 4px -4px rgba(0, 0, 0, 0.125);
	z-index: 3000;

	&__logo {
		grid-area: logo;
		margin: auto 0;
		width: 200px;
		height: 71px;

		& .image {
			height: inherit;
		}
	}


	@media screen and (max-width: $break-small) {
		top: unset;
		bottom: 0;

		&__logo {
			display: none;
			margin: auto;
		}
	}
}

.menu-nav {
	position: relative;
	grid-area: nav;
	margin: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
	&__item {
		justify-content: center;
		align-items: center;
		display: flex;
		min-width: 100px;
		height: 100%;
		padding: 0 1.3vw;

		&--CTA {
			height: 55px;
		}

		&-link {
			position: relative;
			text-align: center;
			display: inline-block;
			font-size: 20px;

			&:hover::after {
				width: 100%;
				height: 3px;
				background: #000;
			}
			&::after {
				position: absolute;
				bottom: -4px;
				left: 0px;
				content: ' ';
				width: 0px;
				height: 2px;
				line-height: 10px;
				transition: width 0.5s ease-in-out;
			}
		}


		&--mobile {
			display: none;
		}
	}


	&--side-bar {
		display: inherit;

		.side-bar__bottom {
			display: inherit;
		}
	}
	@media screen and (max-width: $break-small) {
		position: absolute;
		left: 0;
		width: 100vw;
		margin: 0;
		padding: 0;
		grid-area: unset;
		height: 100%;
		box-shadow: 10px 4px 4px 4px rgba(0, 0, 0, 0.25);

		&__img {
			align-items: center;
		}
		&__item {
			min-width: 75px;
			max-width: 100px;
			height: 100%;

			&--XP {
				min-width:90px;
			}
			&-link {
				font-size: 15px;
				&::after {
					content: unset;
				}
			}
			&--mobile {
				position: relative;
				margin: auto 0;
				display: block;

				.menu-nav__logo {
					display: none;

				}
				@media screen and (max-width: $break-mini) {
					margin: 0;
				}
			}

			&--CTA {
				margin: 0px;
				border-radius: unset;

				& .CTA__link {
					text-align: center;
					font-weight: bold;
				}

				&:hover {
					background: #000;
					& .CTA__link {
						text-align: center;
						font-weight: bold;
						color: #ffcd00;
					}
				}
			}

			&--right {
				position: relative;
				right: 0;
				margin: auto;
				padding: 10px;
			}
		}
		&--side-bar {
			display: none;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
			&.active {
				position: fixed;
				top: 0;
				right: 0;
				display: block;
				visibility: visible;
				background: #fff;
				width: 150px;
				height: 100vh;
				z-index: 1500;
				box-shadow: -10px 4px 4px 4px rgba(0, 0, 0, 0.25);
				transition: all 0.3s ease-in-out;

				.side-bar__bottom {
					position: absolute;
					bottom: 100px;
					.menu-nav__item {
						height: 50px;
					}
				}
			}
		}
	}
}

.side-bar__bottom {
	@media screen and (max-width: $break-mini) {
		margin-left: 5px;
		text-align: unset;

		.menu-nav__item {
			justify-content: unset;
		}
	}	
}
.overlay-mobile {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
	z-index: 1000;
	background: #fff;

}
