@media screen and(max-width: $break-small) {
	:root {

		--page-title-style: normal;
		--page-title-size: 28px;
		--page-title-weight: 800;
		--page-title-line-height: 27px;

		--title-style: normal;
		--title-size: 20px;
		--title-weight: 800;
		--title-line-height: 27px;

		--sub-title-style: normal;
		--sub-title-size: 18px;
		--sub-title-weight: 800;
		--sub-title-line-height: 25px;

		--small-title-style: normal;
		--small-title-size: 14px;
		--small-title-weight: 800;
		--small-title-line-height: 19px;

		--text-style: normal;
		--text-size: 12px;
		--text-weight: normal;
		--text-line-height: 16px;

		--description-style: normal;
		--description-size: 12px;
		--description-weight: normal;
		--description-line-height: 16px;
	}
}
* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}


html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	color: #000;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	display: grid;
	height: 100vh;
	background: #fff;
	font-family: "Open Sans", helvetica, arial, sans-serif;
}

.title {
	position: relative;
	margin: 70px 0;
	display: block;
	width: max-content;
	font-size: var(--title-size);
	font-weight: var(--title-weight);
	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0%;
		display: block;
		width: 100%;
		height: 100%;
		background: url("../images/bubble-nofill.svg") no-repeat;
		background-size: 100% auto;
	}

	&--values {	
		padding-right: 15px;
		font-size: var(--small-title-size);
		font-weight: var(--sub-title-weight);
		&::after{
			content: none;
		}
		@media screen and (max-width: $break-small) {
			font-size: var(--title-size);
			font-weight: var(--title-weight);
			&::after{
				content: "";
			}
		}
	}
}

a {
	color: #000;
	text-decoration: none;
}

ul {
	list-style: none;

	& li {
		.S-Description &{
			margin-bottom: 5px;
		}
		.explanation-card &{
			margin-bottom: 5px;
		}
	}
	& li::before {
		.S-Description &{
			content: "\2022";
			transform: scale(1.5);  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: #ffcd00; /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
		.explanation-card &{
			content: "\2022";
			transform: scale(1.5);  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: #ffcd00; /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
	}
}
.wrapper {
	margin: 100px auto 0 auto;
	width: var(--width-pc);

	@media screen and (max-width: $break-large) {
		width: 100vw;
	}
}

.empty-space {
	height: 200vh;
}
.page-title {
	font-style: var(--page-title-style);
	font-size: var(--page-title-size);
	font-weight: var(--page-title-weight);
	line-height: var(--page-title-line-height);

}

.CTA {
	grid-area: CTA;
	position: relative;
	margin: auto;
	border-radius: 5px;
	display: grid;
	width: 250px; 
	height: 60px;
	background: #000;
	font-weight: 900;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	&-block {
		grid-area: CTA-block;
		display:flex;
		margin: auto;
		@media screen and (max-width: $break-small) {
			flex-direction: column;
			
		}	
		&-bottom {
		margin-bottom: 40px;
		}		
	}
	&::after {
		content: '';
		position: absolute;
		left: -35%;
		top: 0;
		width: 0;
		height: 100%;
		background: #ffcd00;
		z-index: -1;
		transform: skew(50deg);
		transition-duration: 0.6s;
		transform-origin: top left;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;

	}

	&::before {
		content: '';
		position: absolute;
		background: #ffcd00;
		z-index: -1;
	}

	&:hover {
		background: transparent;
		color: #000;

		a {
			color: #000;
		}	

		&:after {
			width: 135%;
			height: 100%;
		}
	}

	&__link {
		margin: auto;
		color: #ffcd00;
		font-size: var(--small-title-size);
		font-weight: var(--sub-title-weight);
		text-decoration: none;
		text-align: center;
		&:hover {
			color: #000;
		}
	}

	&--workshops-presentation {
		&:hover {
			&::after {
				z-index: 5;
				background: #fff;
			}
			.CTA__link {
				color: #000;
				z-index: 6;
			}
		}
	}
	&--plaquette {
		padding: 0 20px;
		min-width: max-content;
		@media screen and (max-width: $break-small){
			min-width: unset;
			/* width: 215px; */
		}		
	}

	&--organisation {
		margin: 40px auto;
	}
	&--XP {
		width: max-content;
		padding: 5px 40px;
		@media screen and (max-width: $break-small){
			width: 80%;
			height: 100px;
		}
	}
}

.SVG_container {
	position:relative;
	grid-area: Image;
	display: grid;	
	max-width: 75%;
	max-height: 75%;
	&__img {
		max-width: 100%;
		max-height: 100%;
		&--organisation {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&--carousel {
			margin: auto;
			max-height: 100%;

			@media screen and (max-width: $break-small) {
				max-width:  75%;
			}
			@media screen and (max-width: $break-mini) {
				max-width: 50%;
			}
		} 
	}
	.organisation-wrapper & {
		max-width: 100%;
		max-height: 100%;
		@media screen and (max-width: $break-small) {
			position: absolute;
			top: -200px;
			right: -145px;
			z-index: -1;
		}

	}	
	@media screen and (max-width: $break-small) {
		margin: auto;
		max-width: 85%;
		max-height: 85%;
	}
	.Carousel--horizontal &  {
		@media screen and (max-width: $break-small) {
			display: none;
		}
	}
}


.IMG_container {
	grid-area: img;
	margin: auto;
	&__image {
		width: 200px;
		height: 200px;
		margin: auto;
		&--workshop1 {
			width: 280px;
			height: 220px;
			margin: 15px;
			background-image: url("../../images/Homepage/workshop1.png");
			@media screen and (max-width: $break-small) {
				background-image: url("../../images/Homepage/workshop1--mobile.png");
				width: 145px;
				height: 108px;
			}
		}
		&--workshop2 {
			width: 290px;
			height: 286px;
			margin: 15px;
			background-image: url("../../images/Homepage/workshop2.png");
			@media screen and (max-width: $break-small) {
				background-image: url("../../images/Homepage/workshop2--mobile.png");
				width: 145px;
				height: 143px;
			}
		}

		.showcase--XP & {
			width: 550px;
			height: 550px;
			margin: 0;
			background: url("../../images/XP/showcase.svg") no-repeat;
			@media screen and (max-width: $break-small) {
				background: url("../../images/XP/showcase.svg") no-repeat;
				width: 250px;
				height: 80px;
			}
		}
		.how-to_wrapper & {
			width: 550px;
			height: 400px;
			margin: 0;
			background: url("../../images/XP/how-to.svg") no-repeat;
			@media screen and (max-width: $break-small) {
				background: url("../../images/XP/how-to.svg") no-repeat;
				width: 550px;
				height: 400px;
				transform: scale(0.75);
				position: relative;
				left: -125px;
			}
		}

		.team & {
			border-radius: 50%;
			&--thomas {
				background: url("../../images/about-us/thomas.jpg") no-repeat;
				background-size: auto 200px;
				background-position: -25px 0px;
			}
			&--oihana {
				background: url("../../images/about-us/oihana.jpg") no-repeat;
				background-position: -10px 0px;
			}
			&--iris {
				background: url("../../images/about-us/iris.jpg") no-repeat;
			}
			&--manar {
				background: url("../../images/about-us/manar.jpg") no-repeat;
				background-position: -40px -10px;
			}
			&--quentin {
				background: url("../../images/about-us/quentin.jpeg") no-repeat;
			}
			&--quentin__lebreton {
				background: url("../../images/about-us/quentin_lebreton.jpg") no-repeat;
				background-position: -40px -40px;
			}
		}
	}
	.how-to_wrapper & {
		@media screen and (max-width: $break-small) {
			width: calc(100vw - 30px);
			overflow: visible;	
		}
	}			
}

.encapsulated-text {
	position: relative;
	grid-area: text;
	/* because the child div are positioned absolutely, they are out of the document flow. So the parent flow can not display with the correct size. We can either hard code the size in css or USE JAVASCRIPT offsetheight */ 
	width: 700px;
	height: 525px;

	&__shape1 {
		opacity: 0.5;
		position: absolute;
		left: -75px;
		width: 700px;
		height: 450px;
		-webkit-clip-path: polygon(10% 20%, 95% 0, 100% 95%, 0 100%);
		clip-path: polygon(10% 20%, 95% 0, 100% 95%, 0 100%);
		background-color: #ffcd00;
		.encapsulated-text--workshop & {
			width: calc(700px * 1.2);
			height: calc(450px * 1.1);
		}
	}

	&__shape2 {
		position: absolute;
		left: -75px;
		width: 700px;
		height: 525px;
		-webkit-clip-path: polygon(11.72% 57.95%, 33% 99.24%, 56.14% 94.67%, 98.43% 62.19%, 92% 29.57%, 57.72% 0.33%, 25.14% 29.34%);
		clip-path: polygon(11.72% 57.95%, 33% 99.24%, 56.14% 94.67%, 98.43% 62.19%, 92% 29.57%, 57.72% 0.33%, 25.14% 29.34%);
		background-color: #ffcd0088;
		z-index: 500;

		.shaped-text {
			position: absolute;
			top: 26%;
			left: 25%;
			display: block;
			width:500px;
			height:525px;
			shape-inside: polygon(11.72% 57.95%, 33% 99.24%, 56.14% 94.67%, 98.43% 62.19%, 92% 29.57%, 57.72% 0.33%, 25.14% 29.34%);
			z-index: 9000;	

			&::after {
				content: "";
				position: absolute;
				top: -100%;
				float: left;
				width: 1%;
				height: 100%;
				shape-outside: polygon( 0 25%, 25% 25%, 50% 25%, 0 50%);
				z-index: 550;
			}

			& .link-to-organisation {
				background: #000;
				color: #ffcd00;
				transition: all 0.3s ease-in-out;

				&:hover {
					color: #fff;
					transition: all 0.3s ease-in-out;
				}
			}
			.showcase--XP & {
				top: 20%;
			}


		}

		.showcase--XP & {
			clip-path: polygon(11.72% 57.95%, 33% 99.24%, 56.14% 94.67%, 98.43% 62.19%, 94.43% 23.47%, 57.72% 0.33%, 25.57% 17.53%);
			@media screen and (max-width: $break-small) {
				clip-path: unset;
			}
		}
		.encapsulated-text--workshop & {
			width: calc(700px * 1.2);
			height: calc(450px * 1.28);
		}

	}

	&--workshop {
		display: block;
		margin: auto;
	}
	@media screen and (max-width: $break-small) {
		position: relative;
		grid-area: text;
		/* because the child div are positioned absolutely, they are out of the document flow. So the parent flow can not display with the correct size. We can either hard code the size in css or USE JAVASCRIPT offsetheight */ 
		width: calc(100vw - 15px);
		height: max-content;

		&__shape1 {
			display: none;
			opacity: unset;
			position: relative;
			left: 0;
			width: 700px;
			height: 450px;
			-webkit-clip-path: unset;
			clip-path: unset;
			background-color: #fff;
			.encapsulated-text--workshop & {
				width: calc(700px * 1.2);
				height: calc(450px * 1.1);
			}
		}

		&__shape2 {
			position: relative;
			left: 0;
			width: calc(100vw - 15px);
			height: max-content;
			-webkit-clip-path: unset;
			clip-path: unset;
			background-color: #fff;
			z-index: 0;

			.shaped-text {
				position: relative;
				top: 0;
				left: 0;
				display: block;
				width: calc(100vw - 15px);
				height: max-content;
				shape-inside: unset;
				z-index: 0;	

				&::after {
					content: unset;
				}

				& .link-to-organisation {
					background: #000;
					color: #ffcd00;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: #fff;
						transition: all 0.3s ease-in-out;
					}
				}

			}
			.encapsulated-text--workshop & {
				width: calc(700px * 1.2);
				height: calc(450px * 1.28);
			}

		}

		&--workshop {
			display: block;
			margin: auto;
		}
	}
}

.turnDeviceNotification {
	position:fixed;
	z-index: 9999;
	top: 0;
	left:0;
	height:100%;
	width:100%;
	display: none;
	background:url('../images/turnDevice.png') center;
	background-size:cover;
	@media (orientation: landscape) and (max-width: $break-medium) {
		display: block;
	}
}
.social-icons {
	padding: 0;
	display: flex;
	flex-direction: row;
	li {
		display: inline-block;
		margin: auto;
	}

	&__facebook {
		&:hover{
			.fa-facebook {
				fill: #3b5a9b;
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&__instagram {
		&:hover{
			.fa_instagram {
				fill: url(#Gradient);
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&__linkedin {
		&:hover {
			.fa_linkedin {
				fill: #0072b2;
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&__eventbrite {
		&:hover {
			.fa_eventbrite {
				fill: #ff8000;
				transition: all 0.5s ease-in-out;
			}
		}
	}
	@media screen and (max-width: $break-small) {
	}
}

/* ====================================
 *
 *	 	 CAROUSEL
 *
 * ================================= */

.Carousel {
	position: relative;
	margin: auto;
	width: 1000px;
	height: 750px;
	background: #fff;
	overflow: hidden;

	@media screen and (max-width: $break-large) {
		width: calc(770px);
		height: 700px;
	}
	@media screen and (max-width: $break-small) {
		width: calc(100vw - 30px);
		height: calc(100vh - 100px);
	}

}

.C-track {
	opacity: 1;
	transition: all 400ms ease;

	&--reinit {
		opacity: 0;
		transition: all 0ms linear;
	}

	@media screen and (max-width: $break-small) {
		width: 100%;
		height: 100%;
	}
}

.Carousel__slide {
	float: left;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: 1.1fr 1fr;
	grid-template-rows: 1fr 6fr 1fr;
	grid-template-areas: 	"title Image"
	"Description Image"
	"Description CTA";
	width: 1000px;
	height: 750px;
	background:  #fff no-repeat center / cover;
	background-blend-mode: overlay;
	overflow: hidden;

	.Carousel.initialized & {
		border-radius: 100vw;
		transform: scale(0.5) skew(-5deg) rotate(0);
		transition: all 700ms ease;

		&.active {
			border-radius: 0;
			transform: scale(1) skew(0) rotate(0);
		}
	}
	&__title {
		opacity: 0;
		margin: 0;
		padding: 1rem 0 0 4.4rem;
		grid-area: title;
		font-style: var(--sub-title-style);
		font-size: var(--sub-title-size);
		font-weight: var(--sub-title-weight);
		line-height: var(--sub-title-line-height);
		transform: translateX(100%);
		transition: all 300ms ease;
		transition-delay: 500ms;

		.active & {
			opacity: 1;
			transform: translateY(0) translateX(0);
		}

		@media screen and (max-width: $break-small) {
			padding: 0;
			grid-area: title;
		}
	}

	@media screen and (max-width: $break-large) {
		grid-template-columns: 1.2fr 1fr;
		grid-template-areas: 	"title title"
		"Description Image"
		"Description CTA";
		width: 1000px;
		width: calc(770px);
		height: 700px;
	}
	@media screen and (max-width: $break-small) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
		grid-template-areas: 	"title"
		"Description"
		"CTA"
		".";
		width: calc(100vw - 30px);
		height: calc(100vh - 100px);
		background:  #fff no-repeat center / cover;

	}
	@media screen and (max-width: $break-mini) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr 1fr;
		grid-template-areas: 	"title"
		"Description"
		"CTA"
		".";
	}	
}

.S-Description {
	grid-area: Description;
	padding: 1rem 0 0 4.4rem;
	width: 100%;
	height: 100%;

	&__title {
		position: relative;
		opacity: 0;
		margin: 0;
		font-style: var(--sub-title-style);
		font-size: var(--sub-title-size);
		font-weight: var(--sub-title-weight);
		line-height: var(--sub-title-line-height);
		transform: translateX(100%);
		transition: all 300ms ease;
		transition-delay: 500ms;

		.active & {
			opacity: 1;
			transform: translateY(0) translateX(0);
		}

		@media screen and (max-width: $break-mini) {
			display: none;
		}
	}
	p {
		font-style: var(--text-style);
		font-size: var(--text-size);
		font-weight: var(--text-weight);
		line-height: var(--text-line-height);

		@media screen and (max-width: $break-small) {
			grid-area: description;
		}
	}

	@media screen and (max-width: $break-small) {
		padding: 0;
		grid-area: unset;
	}
}
.C-navigation {
	grid-area: C-navigation;
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
} 

.C-navigation__dot {
	margin: 4px;
	border: solid 2px #ffcd00;
	border-radius: 25%;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	cursor: pointer;

	&.active {
		background: #ffcd00;
		transform: scale(1.3);
	}
}

.Carousel-navigation-button {
	position: absolute;
	top: 50%;
	left: 10px;
	padding: 10px;
	border: 2px solid #ffcd00;
	border-radius: 5px;
	background: transparent;
	box-shadow: none;
	color: #ffcd00;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
	overflow: none;	
	z-index: 2;
	transform: translateY(-50%);
	transition: all 300mes ease;

	&:hover {
		background: #ffcd00;
		color: #000;
		transition: all 0.3s ease-in-out;
	}

	&:active {
		background: #fff;
	}

	&--next {
		left: auto;
		right: 10px;
	}

	@media screen and (max-width: $break-small) {
		top: unset;
		bottom: 0px;
		left: calc(50% - 76px);
		transform: translate(-50%);

		&--next {
			left: calc(50% + 76px);
		}
	}
}

/* ====================================
 *
 *		MINI CAROUSEL
 *
 * ================================= */

.Carousel-workshop {
	overflow: visible;
	position: relative;

	.C-navigation {
		display: none;
	}


	.Carousel-navigation-button {
		display: none;
	}

	.workshop-presentation {
		position: relative;
		float: left;
		margin-bottom: 2rem;
		padding: 0 0 0 5px;
		border-radius: 5px;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 	"title img"
		"text  img"
		"CTA   img";
		background: #ffcd00;

		&__title {
			grid-area: title;
			font-size: var(--sub-title-size);
			font-weight: var(--sub-title-weight);
		}

		&__text {
			grid-area: text;
			font-size: var(--description-size);
			font-weight: var(--description-weight);
		}

		&__CTA {
			width: 250px;

			&-block {
				display: flex;
			@media screen and (max-width: $break-small) {
				flex-direction: column;
			}

			}

		}
	}
	@media screen and (max-width: $break-large) {
		.workshop-presentation {
			width: calc( 100vw - 30px);
		}
	}
	@media screen and (max-width: $break-small) {
		width: calc(100vw - 30px);
		//`	max-height: calc(100vh - 300px);
		// min-height:  630px;
		overflow: hidden;

		.workshop-presentation {
			margin-right: 4px;
			padding: 0 7px 0 7px;
			width: calc(100vw - 32px);
			height:  630px;
			grid-template-columns: 1fr;
			grid-template-rows: 0.2fr 0.5fr 1fr 1fr 0.4fr;
			grid-template-areas:	"title"
			"img"
			"text"
			"CTA";


			&__title {
				margin-bottom: 0;
				text-align: center;
			}
		}
		.Carousel-navigation-button {
			display: block;
			color: black;
			font-size: var(--sub-title-size);
			font-weight: var(--small-title-weight);
			bottom: 45px;
		}

		.C-navigation {
			display: block;
			bottom: 45px;
			&__dot {
				background: white;

				&.active {
					background: black;
				}
			}
		}
	}

	&--school {
		position: relative;
		display: flex;

		&__title {
			margin: 40px 0;
		}

		.workshop-presentation {
			display: block;
			position: relative;
			margin: auto;
			width: 30%;
			padding: 5px;
			height: 550px;
			background: #ffcd00;

			&__title {
				text-align: center;
			}
			&__img {
				height: 30%;
				display: flex;
				margin: auto;
			}

			&__link {
				position: absolute;
				bottom: 10px;
				right: 10px;
				font-size: 15px;
				display: inline-block;

				&:hover::after {
					width: 100%;
					height: 2px;
					background: #000;
				}
				&::after {
					position: absolute;
					bottom: -2px;
					left: 0px;
					content: ' ';
					width: 0px;
					height: 2px;
					line-height: 10px;
					transition: width 0.5s ease-in-out;
				}
			}
		}

		.C-track{
			display: flex;	
		}
		@media screen and (max-width: $break-small) {
			position: relative;
			display: block;
			/* only property to erase */
			//	height: 2000px;

			.C-track{
				display: block;	
			}
			&__title {
				margin: 40px 0;
			}
			.Carousel-navigation-button {
				bottom: 0px;
			}
			.C-navigation {
				bottom: 0px;
			}
			.workshop-presentation {
				position: relative;
				margin: auto 5px auto 0;
				padding: 25px;
				min-height: 580px;
				height: max-content;
				background: #ffcd00;
				width: calc(100vw - 32px);

				&__title {
					text-align: center;
				}

				&__img {
				}

				&__text {
					margin-top: 20px;
					display: block;
					font-size: 16px;
				}

				&__link {
					position: absolute;
					bottom: 50px;
					right: 10px;
					font-size: 15px;
					font-weight: bold;
					opacity: 0.87;
				}

				&--last {
					margin-right: 0;
				}

			}

			.debacteur-workshop {
				.title {
					display: none;
				}
				.encapsulated-text {
					width: inherit;
					&__shape2 {
						width: inherit;
						height: unset;
						background-color: transparent;
					}
					.shaped-text {
						width: inherit;
					}
				}
			}
		}
	}
}

/* ====================================
 *
 *		BLOCKQUOTE
 *
 * ================================= */
.quote-wrapper {
	position: relative;
	width: 100%;

	.blockquote {
		position: absolute;
		&__text {
		}

		&__footer {
			font-weight: bold;
		}
		&--gandalf {
			top: -150px;
			right: -150px;
			width: 400px;
		}
		&--piaget {
			position:relative;
			width: 700px;
			margin: 50px auto;	
		}

		&--paul-valery {
			position:relative;
			width: 700px;
			margin: 100px auto;	
		}
		&--dumbledore {
			position:relative;
			width: 700px;
			margin: 70px auto;	
		}
		&::before {
			content: url("../images/quote-marks.svg");
			position: absolute;
			top: -30px;
			left: -100px;
			z-index: 1;
		}

		&::after {
			content: url("../../images/quote-marks.svg");
			position: absolute;
			top: 55px;
			right: -75px;
			z-index: 1;
			transform: rotate(180deg);
		}
		.fill-in {
			display: none;
		}
	}

	@media screen and (max-width: $break-small) {
		position: relative;
		width: 100%;
		display: none;
		.blockquote {
			position: absolute;
			&__text {
			}

			&__footer {
				font-weight: bold;
			}
			&--gandalf {
				position: relative;
				top: 0;
				right: 0;
				width: 400px;
			}
			&--piaget {
				position:relative;
				width: 700px;
				margin: 50px auto;	
			}
			&::before {
				content: url("../../images/quote-marks.svg");
				position: absolute;
				top: -30px;
				left: -100px;
				z-index: 1;
			}

			&::after {
				content: url("../../images/quote-marks.svg");
				position: absolute;
				top: 55px;
				right: -75px;
				z-index: 1;
				transform: rotate(180deg);
			}
		}

		.Carousel-workshop--school & {
			display: block;
			.blockquote {
				&--piaget {
					width: unset;

					.fill-in {
						display: inline;
					}
					&::after {
						bottom: -75px;
						right: -10px;
						transform: scale(50%) rotate(180deg);
					}
					&::before {
						top: -25px;
						left: -20px;
						transform: scale(50%);
					}
				}
			}
		}
	}
}


/* ====================================
 *
 *		NEWSLETTER
 *
 * ================================= */

.newsletter {
	.CTA {
		height: 80px;
		&:hover{
			.CTA__link {
				color: black;
			}
		}
		&__link {
			padding: 0 15px;
		}
	}
	$orangeClr: #ffcd00;
	$blueClr: #000;
	input, submit, div, p {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: .3s;
		transition: .3s;
	}
	form {
		display: block;
		position: relative;
		/* margin: 20px auto 0; */
		width: 300px;
		@media screen and (max-width: $break-small) {
			margin: 20px auto 0;
		}
	}
	#submit:hover {
		background-color: #ffcd00;
		color: black;
	}
	div.disolve {
		display: none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 80px;
		border: 3px solid $blueClr;
		border-radius: 10px;
		background-color: white;
	}
	input {
		position: absolute;
		top: -5px;
		left: 0;
		width: 200px;
		height: 80px;
		border: 0;
		padding: 10px;
		color: black;
		font-size: 18px;
		background: transparent;
	}
	input:focus {
		outline: 0;
	}
	input:focus > div {
		border-color: rgba(50, 200, 250, 0.95);
	}
	#submit {
		position: absolute;
		top: 17px;
		left: 200px;
		width: 80px;
		height: 40px;
		border: 1px solid transparent;
		border-radius: 3px;
		background-color: $blueClr;
		color: white;
		cursor: pointer;
		font-size: 14px;
	}
	p {
		display: none;
		opacity: 0;
		font-size: 18px;
		text-align: center;
		margin: 10px 0;
	}
	&__XP {
	.CTA {
		width: 600px;
	}
	.width250px {
		width: 250px;
	}
	form {
		width: 600px;
	}
	div.disolve {
		width: 600px;
	}
	input {
		width: 500px;
	}
	#submit {
		left: 500px;
	}
	@media screen and (max-width: $break-small) {
		input {
			width: 200px;
		}	
		div.disolve {
			width: 300px;
		}
		form {
			width: 300px;
		}
		.CTA {
			width: 300px;
		}
	#submit {
		left: 200px;
	}
	}
}
}

.title-no-underline{
	h2 {
		&:after {
			display: none;	
		}

	}
	ul {
		list-style: unset;
	}
}
