$break-mini: 350px;
$break-small: 480px;
$break-medium: 800px;
$break-large: 1068px;
$break-height-mini : 510px;

:root {
	--width-pc: 1068px;
	--width-tablet: 740px;
	--width-mobile: 100%;

	--page-title-style: normal;
	--page-title-size: 48px;
	--page-title-weight: 800;
	--page-title-line-height: 65px;

	--title-style: normal;
	--title-size: 40px;
	--title-weight: 600;
	--title-line-height: 65px;

	--sub-title-style: normal;
	--sub-title-size: 30px;
	--sub-title-weight: 800;
	--sub-title-line-height: 41px;

	--small-title-style: normal;
	--small-title-size: 20px;
	--small-title-weight: 600;
	--small-title-line-weight: 34px;

	--text-style: normal;
	--text-size: 20px;
	--text-weight: normal;
	--text-line-height: 25px;

	--description-style: normal;
	--description-size: 15px;
	--description-weight: normal;
	--description-line-height: 20px;
}
