/* ====================================
 *
 *		XP
 *
 * ================================= */

/* ====================================
 *
 *		XP - SHOWCASE
 *
 * ================================= */

.showcase--XP {
	.page-title {
	}
	.catchphrase {
		font-size: var(--sub-title-size);
		font-weight: var(--sub-title-weight);
	}
	.XP-presentation {
		display:grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "presentation img";
		.encapsulated-text {
			grid-area: presentation;
		}
		@media screen and (max-width: $break-small) {
			.IMG_container {
				display: none;
			}
		}
	}
	@media screen and (max-width: $break-large) {
		.XP-presentation {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: unset;
		}

		.IMG_container {
			display: none;
		}
	}
	@media screen and (max-width: $break-small) {
		padding: 0 15px;
	}
}

/* ====================================
 *
 *		XP - HOW-TO
 *
 * ================================= */

.how-to_section {
	.sub-title {
		grid-area: title;
		display: flex;
		align-items: center;
	}
	.how-to_wrapper {
		display: grid;
		grid-template-rows: 3fr 1fr 2fr;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas: "text1 img img" "title img img" "text2 text2 .";

		&__text1{
			grid-area: text1;
		}
		&__text2 {
			grid-area: text2;
		}
	}
	@media screen and (max-width: $break-large) {
		padding: 0 15px;
	}
	@media screen and (max-width: $break-small) {
		padding: 0 15px;
		.sub-title {
			grid-area: title;
		}
		.how-to_wrapper {
			display: grid;
			grid-template-rows: 0fr 0fr 0fr 0fr;
			grid-template-columns: 1fr;
			grid-template-areas: "img" "text1" "title" "text2";

			&__text1{
				grid-area: text1;
			}
			&__text2 {
				grid-area: text2;
			}
		}
	}
}

/* ====================================
 *
 *		XP - reality-section
 *
 * ================================= */

.reality-section {
	.title {
	}
	.roadmap {
		position: relative;
		.R_step {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "title number" "text number";
			&__text {
				position: relative;
				top: -50%;
				grid-area: text;
				margin: 0;

				.small-title {
				}
				.text {
				}
			}
			&__number {
				&_wrapper {
					grid-area: number;
				}
				p {
					text-align: center;
					vertical-align: middle;
					display: table-cell;
					color: white;
					font-size: 50px;
				}
				position: relative;
				display:inline-block;
				top: 50%;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background: #ffcd00;
				left: 50%;
				margin: 0;
				transform: translate(-50%, -50%);
				display: table;
				font-size: var(--title-size);
				font-weight: var(--title-weight);
			}
			&--inverse {
				display: grid;
				grid-template-rows: 1fr 1fr;
				grid-template-columns: 1fr 1fr;
				grid-template-areas: "number text" "number text";
				.R_step__text {
					top: 0%;
				}
			}
		}
	}
	@media screen and (max-width: $break-large) {
		padding: 0 15px;
	}
	@media screen and (max-width: $break-small) {
		padding: 0 0 0 15px ;
		overflow: visible;
		.title {
		}
		.roadmap {
			position: relative;
			.R_step {
				display: grid;
				margin-bottom: 40px;
				grid-template-rows: 0fr 0fr;
				grid-template-columns: 84vw 5vw 1vw;
				grid-template-areas: "title . number" "text . number";
				&__text {
					position: relative;
					top: 0%;
					grid-area: text;
					margin: 0;

					.small-title {
					}
					.text {
					}
				}
				&__number {
					z-index: -1;
					&_wrapper {
						grid-area: number;
					}
					p {
						text-align: center;
						vertical-align: middle;
						display: table-cell;
					}
					position: relative;
					display:inline-block;
					top: 50%;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					background: #ffcd00;
					left: 50%;
					margin: 0;
					transform: translate(-50%, -50%);
					display: table;
					font-size: var(--title-size);
					font-weight: var(--title-weight);
				}
				&--inverse {
					display: grid;
					grid-template-rows: 0fr 0fr;
					grid-template-columns: 10vw 12vw 78vw;
					grid-template-areas: "number . title" "number . text";
					.R_step__text {
						top: 0%;
					}
				}
			}
		}
	}
}

.how-to-contact {
	display: flex;
	padding: 15px;
	
	.email-contact {
		padding: 0 15px;
	}
	@media screen and (max-width: $break-small) {
		display: flex;
		flex-direction: column;
		.row__col-4 {
			display: flex;
		}
		.email-contact {
			padding: 15px;
		}
	}
}
