<!doctype html>
{% assign rawurl = "" %}
{% if page.lang == "en" %}
	{% assign rawurl = rawurl | append: "en/" %}
{% endif %}

<html lang="{{ page.lang }}">
	<head>
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P5HBXP4');</script>
<!-- End Google Tag Manager -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Déb'Acteur | Devenez acteur du débat</title>
		<meta property="og:image" content="img/Logo.png">
		<link rel="stylesheet" href="css/main.css">
		<link rel="manifest" href="manifest.json">
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5HBXP4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<div class="turnDeviceNotification"></div>
		{% include navigation.html %}

		<div class="wrapper">
			{{content }}
			{% include footer.html %}
		</div> <!-- End wrapper -->
		{% include scripts.html %}
	</body>
</html>
