---
title: Debacteur
layout: apropos 
permalink: a-propos
lang: fr
---

<div class="showcase about-us">
	<h1 class="page-title">QUI SOMMES-NOUS ?</h1>
	<p class="about-us__text"><span class="bold">Déb'Acteur</span> est une coopérative totalement apolitique, qui a pour objectif de développer le lien entre citoyens (dès la 4ème) et la vie publique par le biais de méthodes ludiques et accessibles.</br></br>À l’heure des <strong>fake news</strong>, d’une crise écologique majeure, de changements technologiques permanents, il est d’autant plus nécessaire de développer notre <span class="bold">esprit critique</span> ainsi que notre capacité à débattre <strong>collectivement</strong>, sur ces enjeux qui nous relient et qui transforment nos quotidiens.</br></br>Partant du constat d’une indifférence montante vis-à-vis de la vie citoyenne, nous cherchons des moyens constructifs, attractifs, ludiques pour reconstruire le <span class="bold"> lien entre la vie publique et les citoyens !</span></br></br> Nous tenons par ailleurs à accompagner tous les publics dans leurs capacités à échanger, débattre, prendre la parole (aide à la préparation du grand oral pour les lycéens par exemple) pour valoriser ces savoir-faire & savoir-être qui sont essentiels pour favoriser la dimension participative de la démocratie.</span></br></br>Nous restons à votre disposition pour échanger et répondre à vos questions, n’hésitez pas !</br></br>Toute l’équipe de Déb’Acteur.</p>
</div>
<div class="quote-wrapper">
	<blockquote class="blockquote blockquote--paul-valery">
		<p class="blockquote__text">
		La politique est l'art d'empêcher les gens de se mêler de ce qui les regarde.
		<footer class="blockquote__footer">
			Paul Valéry
		</footer>
	</blockquote>
</div>
<div class="values">
	<h2 id="pillars" class="title title--values">Nos valeurs</h2>
	<div class="group-values">
		<div class="value">
			<div class="value__inner value__inner--yellow">
				<h3 class="sub-title">Accessible</h3>
				<p>Il n’y a aucun prérequis pour participer à nos ateliers. Ils sont ouverts à tous et à toutes.</p>
			</div>
		</div>
		<div class="value">
			<div class="value__inner value__inner--black">
				<h3 class="sub-title">Participatif</h3>
				<p>Pour chacun  de nos évènements vous aurez votre mot à dire pour développer vos idées.</p>
			</div>
		</div>
		<div class="value">
			<div class="value__inner value__inner--yellow">
				<h3 class="sub-title">Apartisan</h3>
				<p>Déb’Acteur a pour unique vocation de vous intéresser aux enjeux démocratiques. Nous ne sommes la voix d’aucune position prédéfinie !</p>
			</div>
		</div>
	</div>
</div>
<div class="they_talk_about_us">
	<h2 class="title">Notre philosophie en podcast</h2>
	<div class="audio">
		<div class="IMG_container Carnets">
			<a href="https://www.franceinter.fr/emissions/carnets-de-campagne/carnets-de-campagne-04-mai-2021" target="_blank" style="display: block; height: 200px;">
				<img alt="logo partenaire FranceInter" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/Carnets_de_campagne.png"></img></a>
		</div>
		<div class="description">
			<a href="https://www.franceinter.fr/emissions/carnets-de-campagne/carnets-de-campagne-04-mai-2021" target="_blank">
			<h3 class="audio_title">Carnets de campagne <img src="{{ site.baseurl }}/images/Homepage/franceinter.png"/></h3>
		</a>
			<p>Carnets inter-départements du 4 mai</p>
		</div>
		<div class="player">
			<div class="lecture">
				<button class="play">play</button>
			</div>
			<div class="controles">	
				<div class="track">
					<a href="{{ site.baseurl }}/downloads/debacteur.mp3" rel="enclosure" title="Ecouter"><span class="fn">Déb'Acteur sur france Inter</span></a>
				</div>
				<div>
					<div class="progress_bar">
						<div class="position"></div>
						<div class="loading"></div>
					</div>
					<div class="lesinfos">
						<div class="file">
							<a href="{{ site.baseurl }}/downloads/debacteur.mp3" class="inline-exclude" title="Télécharger le fichier - 24.9&#160;Mb"><small>mp3</small></a>
						</div>
						<div class="time">00:00</div>	
						<div class="duration">/ 00:00</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<div  class="pillars">
	<h2 class="title">Nos piliers pédagogiques</h2>
	<div class="p_block__wrapper">
		<div class="p_block">
			<h2 class="p_block__sub-title"> 1. Le théâtre d’improvisation</h2>
			<p class="p_block__text">
			 Prendre conscience de différents leviers pour améliorer la communication orale grâce aux piliers de l'improvisation théâtrale que sont <span class="bold">l'écoute, l'acceptation et le lâcher prise.</span></br>
			 Ces piliers permettent de poser les bases de notre méthodologie afin de gagner en aisance.</br></br>
			 Développer des techniques <span class="bold">faciles et accessibles</span> afin de mieux communiquer.</br>
			<span class="bold">Jouer</span> au travers de mises en situation afin d’aborder des thématiques réelles.</br>
			 Donner un ton ludique afin de mieux faire passer des messages et de générer un <span class="bold">climat bienveillant.</span>
			</p>
		</div>
		<div class="p_block">
			<h2 class="p_block__sub-title">2. La communication non violente (CNV)</h2>
			<p class="p_block__text">
			A travers une méthodologie précise, la CNV nous apprend à construire des dialogues respectueux de nos ressentis et
			de ceux de nos interlocuteurs.</br></br>
			En lien avec l’intelligence émotionnelle, nous utiliserons le jeu pour transmettre ces notions.</br>
			Puis, en fonction des prises de paroles des élèves, nous utiliserons les outils de la CNV pour débriefer et développer la capacité des élèves à communiquer.</br></br>
			La dimension <span class="bold">sociale</span> de nos activités est une dimension importante. Nos ateliers doivent permettre de rencontrer de nouvelles personnes ou de se rencontrer dans un nouveau contexte.
			</p>
		</div>
		<div class="p_block">
			<h2 class="p_block__sub-title"> 3. Et quelques autres...</h2>
			<p class="p_block__text"> Nos différentes expériences dans la psychologie du développement, de l’actualité citoyenne, de la capacité à chercher et trier des sources d’informations différentes nous permettent d’avoir une approche pluridisciplinaire pertinente en accord avec notre objectif.</p>
		</div>
	</div>
	<div class="p_goal">
		<div class="p_goal__target"></div>
		<div class="p_goal__text">
			<p>Pour un objectif : <span class="bold">développer l’envie à tous les participants de s’impliquer dans la vie citoyenne et démocratique ! </span></p>
		</div>
	</div>
</div>
<div class="team">
	<h2 class="title">Notre équipe</h2>
	<div class="T_block__wrapper">
		<div class="T_block">
			<div class="IMG_container">
				<div alt="photo Thomas Pittau" class="IMG_container__image IMG_container__image--thomas"></div>
			</div>
			<h3 class="sub-title">Thomas Pittau</h3>
			<h3 class="sub-title">Fondateur</h3>
			<p class="T_block__text">
			Thomas est formateur et consultant depuis 2017 en théâtre d’improvisation et la Responsabilité Sociale de l’Entreprise (RSE).</br>
			Il intervient aussi en tant que formateur en théâtre d’improvisation dans plusieurs structures en plus de, lui-même, faire partie d’une troupe.</br> 
			Une expérience au sein d’une association de débat danoise lui a fait prendre conscience de l’impact de tels ateliers sur la conscience citoyenne et l’aisance orale.
			</p>
		</div>
		<div class="T_block">
			<div class="IMG_container">
				<div alt="photo Quentin Lebreton" class="IMG_container__image IMG_container__image--quentin__lebreton"></div>
			</div>
			<h3 class="sub-title">Quentin Lebreton</h3>
			<h3 class="sub-title">Co Président</h3>
			<p class="T_block__text">
				Quentin a commencé à s'engager auprès de Déb'Acteur en tant qu'animateur pour les évènements. Porté par l'initiative citoyenne et le sens de Déb'Acteur, il a choisi de quitter son emploi pour rejoindre l'aventure en tant que Co-Président de Déb'Acteur.
				D'un naturel curieux, consciencieux, il va apporter son expérience de gestion administrative et de management de projet acquises au sein de grandes entreprises, pour le bénéfice de Déb'Acteur.
			</p>
		</div>
		<div class="T_block">
			<div class="IMG_container">
				<div alt="photo Oihana Luque" class="IMG_container__image IMG_container__image--oihana" ></div>
			</div>
			<h3 class="sub-title">Oihana Luque</h3>
			<h3 class="sub-title">Experte pédagogique</h3>
			<p class="T_block__text">
			Actuellement en deuxième année de master Oihana se spécialise dans l'économie de l'environnement.</br>
			D'un naturel joyeux incomparable, elle apporte ses connaissances et son énergie pour le bon déroulé de nos évènements afin de vous garantir un agréable moment !
			</p>
		</div>
		<div class="T_block">
			<div class="IMG_container">
				<div alt="Iris Menu" class="IMG_container__image IMG_container__image--iris" ></div>
			</div>
			<h3 class="sub-title">Iris Menu</h3>
			<h3 class="sub-title">Psychologue du développement</h3>
			<p class="T_block__text">
			Actuellement doctorante, Iris est diplômée en Psychologie du développement cognitif et social de l'enfant et de l'adolescent (Paris Descartes). Elle s'intéresse de près aux questions éducatives et aux fonctions exécutives chez l'enfant. Avec Manar, autre psychologue du développement de l'équipe, elle apporte ses connaissances et son expertise à Deb'Acteur pour proposer les ateliers les plus adaptés aux différents publics scolaires.	
			</p>
		</div>
		<div class="T_block">
			<div class="IMG_container">
				<div alt="photo Manar Hadri" class="IMG_container__image IMG_container__image--manar" ></div>
			</div>
			<h3 class="sub-title">Manar Hadri</h3>
			<h3 class="sub-title">Psychologue du développement</h3>
			<p class="T_block__text">
			Manar est diplômée de l'Université Paris Descartes en Psychologie du développement cognitif et social de l'enfant et de l'adolescent. Elle travaille actuellement en tant que psychologue aux hôpitaux André Mignot (Versailles) et Robert Debré (Paris) et s'intéresse tout particulièrement aux troubles des apprentissages. Avec Iris, autre psychologue de Déb'Acteur, elle participe à la construction des ateliers scolaires afin que ceux-ci soient les plus adaptés possibles aux élèves.
			</p>
		</div>
		<div class="T_block">
			<div class="IMG_container">
				<div alt="photo Quentin Parrot" class="IMG_container__image IMG_container__image--quentin" ></div>
			</div>
			<h3 class="sub-title">Quentin Parrot</h3>
			<h3 class="sub-title">Développeur</h3>
			<p class="T_block__text">
			Autodidacte et passionné par la programmation, Quentin developpe des sites depuis 5 ans. Son expertise en gestion de projet acquise grace a sa formation en ecole de commerce, lui permet de s’adapter facilement au demande du client. Sa passion pour le web et sa soif d’apprendre , font de lui un expert dans les outils essentiels à la conception de site: (figma, html, css, react, javascript).	
			</p>
		</div>
	</div>
</div>
