---
title: Déb'Acteur | Devenez acteur du débat
layout: default
permalink: /ateliers-scolaires-et-superieurs
ref: ateliers
lang: fr
---


<div class="showcase">
	<h1 class="page-title">NOS ATELIERS SCOLAIRES ET UNIVERSITAIRES</h1>
	<div id="carousel" class="wrapper-school-workshops-presentation">
		<h2 class="sub-title">Donner envie de participer à la vie citoyenne !</h2>
		<div class="Carousel-workshop Carousel-workshop--school">
			<div class="workshop-presentation">
				<h3 class="workshop-presentation__title">Collège</h3>
				<img alt="illustration collégien" class="workshop-presentation__img" src="{{ site.baseurl }}/images/Atelier/college.png"></img>
				<p class="workshop-presentation__text">Au collège, l’accent est mis sur la forme des échanges pour créer un climat bienveillant. C’est à travers le théâtre d’improvisation et la communication non-violente que les élèves pourront se familiariser avec la démocratie participative.</p>
				<a href='#college' class="workshop-presentation__link">Découvrir cet atelier</a>
			</div>
			<div class="workshop-presentation">
				<h3 class="workshop-presentation__title">Lycée</h3>
				<img alt="illustration lycéen" class="workshop-presentation__img" src="{{ site.baseurl }}/images/Atelier/lycee.png"></img>
				<p class="workshop-presentation__text">Au lycée, nous dépasserons les mises en situation fictives pour aller dans le détail des enjeux républicains actuels, pour développer l’envie de construire son opinion et de participer à la vie citoyenne ! A la question: Comment aider les élèves à préparer le grand oral? Voici nos réponses !</p>
				<a href="#lycee" class="workshop-presentation__link">Découvrir cet atelier</a>
			</div>
			<div class="workshop-presentation workshop-presentation--last">
				<h3 class="workshop-presentation__title">Supérieur</h3>
				<img alt="illustration diplôme superieur" class="workshop-presentation__img" src="{{ site.baseurl }}/images/Atelier/superieur.png"></img>
				<p class="workshop-presentation__text">Pour les étudiants du supérieur, les prises de parole seront plus longues pour des débats de fond en lien avec les disciplines universitaires afin d’aborder notamment l’éthique et de faire le lien entre société et sujets d’études universitaires.</p>
				<a href="#superieur" class="workshop-presentation__link">Découvrir cet atelier</a>
			</div>
		</div>
		<img alt="illustration pour l'arrière plan" class="wrapper-school-workshops-presentation__background" src="{{ site.baseurl }}/images/Atelier/workshop-background.svg"></img>
	</div>
	<div class="explanation">
		<h2 class="explanation__title">Nos outils pédagogiques reposent sur 3 axes</h2>
		<div class="explanation-wrapper">
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le fond :</span> la structuration des idées</h3>
				<p class="explanation-card__text">Pour que les débats soient constructifs, il est important d’identifier les enjeux sous jacents et de les comprendre au mieux.</br>La gestion et le traitement de l’information disponible, l’anticipation d’éventuelles réfutations, la construction d’une pensée créative, la hiérarchisation des idées seront abordés pour accompagner les participants dans nos ateliers.</br></br>L’implication des élèves dans ces réflexions de fond est la clé de voûte pour leur donner envie de jouer un rôle en tant que citoyen.</p>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">La forme :</span> l'expression orale</h3>
				<p class="explanation-card__text">L’expression orale n’est pas un exercice facile pour tous les élèves, loin de là.</br>C’est pourquoi, nous accordons une attention particulière à l’apprentissage de savoirs pour gérer le trac et le stress,  apprendre à poser sa voix, utiliser la gestuelle et gérer les regards.</br></br>Du débat, naissent les idées, mais, pour les transmettre efficacement, il est important de maîtriser la forme !</p>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le jeu :</span> la ludopédagogie</h3>
				<p class="explanation-card__text">Faut-il accorder la liberté (avec droit de vote) aux elfes de maison ? (thématique Harry Potter)</br></br>Il est parfois plus facile de débattre dans des contextes fictifs, et cela, par effet miroir, a un impact sur la réflexion civique et ses enjeux contemporains.</br>La distanciation par le jeu peut amener le joueur à <span class="bold"> défendre d'autres opinions que les siennes</span> et ceci est un puissant vecteur de réflexion.
				</p>
			</div>
		</div>
	</div>
</div>
<div id="college" class="debacteur-workshop debacteur-workshop--college">
	<h2 class="title">Déb'Acteur collège</h2>
	<div class="encapsulated-text encapsulated-text--workshop">
		<div class="encapsulated-text__shape1"></div>
		<div class="encapsulated-text__shape2">
			<p class="shaped-text">Nos ateliers <strong>Collège</strong> s’intègrent parfaitement dans le cadre du <span class="bold">parcours citoyen</span> :</br>- par le questionnement du rôle du citoyen sur les enjeux républicains grâce à l’organisation d'échanges de façon ludique. </br>- par l’accompagnement de prises de parole (grâce au théâtre d’improvisation et à la communication non-violente).</br></br>Vous souhaitez avoir des informations sur la durée des ateliers, le nombre de participants, le contenu de la séance d’initiation et de la séance d’application, rendez vous sur la page <a class="link-to-organisation" href=#organisation>organisation des ateliers</a>.</p>
		</div>
	</div>
	<div class="explanation">
		<h2 class="explanation__title">OBJECTIFS PÉDAGOGIQUES</h2>
		<div class="explanation-wrapper">
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le fond :</span></h3>
				<ul class="explanation-card__text">
					<li>Comprendre les tenants et aboutissants du statu quo par session.</li>
					<li>Identifier les arguments pertinents pour le maintien ou le changement.</li>
				</ul>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">La forme :</span></h3>
				<ul class="explanation-card__text">
					<li>Apprendre à gérer le stress.</li>
					<li>Être capable d’énoncer clairement des arguments.</li>
					<li>Être capable de tenir un discours bienveillant et constructif.</li>
				</ul>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le jeu :</span></h3>
				<ul class="explanation-card__text">
					<li>Initier aux techniques oratoires.</li>
					<li>Développer une pensée créative.</li>
					<li>Créer une atmosphère participative</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="CTA-block">
		<div class="CTA CTA--plaquette">
			<a class="CTA__link" href=".{{ site.baseurl}}/downloads/DébActeur - Collège.pdf" download>Plaquette descriptive des ateliers</a>
		</div>
		<div class="CTA">
			<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
		</div>
	</div>
	<div class="quote-wrapper">
		<blockquote class="blockquote blockquote--piaget">
			<p class="blockquote__text">
			<span class="fill-in">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
			L'intelligence ne débute ni par la connaissance du moi, ni par celle des choses comme telles, mais par celle de leur interaction. Elle organise le monde en s'organisant elle-même.</p>
			<footer class="blockquote__footer">
				Jean William Fitz Piaget, Psychologue
			</footer>
		</blockquote>
	</div>
</div>
<div id="lycee" class="debacteur-workshop debacteur-workshop--lycee">
	<h2 class="title">Déb'Acteur Lycée</h2>
	<div class="encapsulated-text encapsulated-text--workshop">
		<div class="encapsulated-text__shape1"></div>
		<div class="encapsulated-text__shape2">
			<p class="shaped-text">Nos ateliers s’inscrivent dans la perspective et la préparation du grand oral. Nous proposons aux lycéens d’aller plus loin dans la prise de conscience de leur capacité à communiquer à l'oral et à échanger.</br>62 % des élèves déclarent qu’ils n’apprennent que « parfois »  à débattre avec leurs camarades, voir «jamais» (27%).</br><a class="link-to-studies">Etudes du CNERES, 2019 sur l’engagement citoyen des lycées.</a></br>De plus, ces ateliers peuvent participer efficacement à la préparation des élèves au grand oral, et cela, de façon constructive et citoyenne !</p>
		</div>
	</div>
	<div class="explanation">
		<h2 class="explanation__title">OBJECTIFS PÉDAGOGIQUES</h2>
		<div class="explanation-wrapper">
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le fond :</span></h3>
				<ul class="explanation-card__text">
					<li>Identifier des arguments pertinents.</li>
					<li>Savoir hiérarchiser ses idées et les présenter clairement.</li>
					<li>Être capable de rebondir facilement à des questions critiques.</li>
				</ul>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">La forme :</span></h3>
				<ul class="explanation-card__text">
					<li>Être capable de prendre la parole face à un public pendant plusieurs minutes.</li>
					<li>Identifier des techniques pour capter l’attention et mettre en valeur des idées.</li>
				</ul>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le jeu :</span></h3>
				<ul class="explanation-card__text">
					<li>Maîtrise de techniques rhétoriques.</li>
					<li>Développement de la pensée créative.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="CTA-block">
	<div class="CTA CTA--plaquette">
		<a class="CTA__link" href=".{{ site.baseurl}}/downloads/DébActeur - Lycée.pdf" download>Plaquette descriptive des ateliers</a>
	</div>
		<div class="CTA">
			<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
		</div>
	</div>
	<div class="quote-wrapper">
		<blockquote class="blockquote blockquote--piaget">
			<p class="blockquote__text">
			<span class="fill-in">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
			Ce qui manque aux adolescents, ce n’est ni l’intelligence ni la faculté de raisonner, c’est tout simplement l’expérience.</p>
			<footer class="blockquote__footer">
				Isaac Asimov
			</footer>
		</blockquote>
	</div>
</div>
<div id="superieur" class="debacteur-workshop debacteur-workshop--superieur">
	<h2 class="title">Déb’Acteur Education Supérieure</h2>
	<div class="encapsulated-text encapsulated-text--workshop">
		<div class="encapsulated-text__shape1"></div>
		<div class="encapsulated-text__shape2">
			<p class="shaped-text">Ces ateliers représentent une réelle plus-value dans l'assimilation des savoirs théoriques universitaires puisqu’ils permettent aux étudiants de mettre en pratique leurs connaissances. Aussi, c’est l’occasion de faire le lien entre les disciplines étudiées et les enjeux sociétaux.</br>
			Au croisement des compétences (prise de parole en public, esprit analytique, créativité...), nos ateliers représentent une opportunité pour la mise en pratique des savoir-faire acquis à travers vos enseignements.</br>Vous souhaitez avoir des informations sur la durée des ateliers, le nombre de participants, le contenu de la séance d’initiation et de la séance d’application, rendez vous sur la page <a class="link-to-organisation" href="#organisation">organisation des ateliers</a>.</p>
		</div>
	</div>
	<div class="explanation">
		<h2 class="explanation__title">OBJECTIFS PÉDAGOGIQUES</h2>
		<div class="explanation-wrapper">
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le fond :</span></h3>
				<ul class="explanation-card__text">
					<li>Développer une pensée critique et créative sur des questions de société.</li>
					<li>Être capable de présenter plusieurs idées complexes lors d’une même prise de parole.</li>
				</ul>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">La forme :</span></h3>
				<ul class="explanation-card__text">
					<li>Tenir un discours  structuré sur une période de 5 à 10 minutes.</li>
					<li>Capter efficacement l’attention de l’auditoire.</li>
					<li>Être capable de réagir avec à propos en cas de questions.</li>
				</ul>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Le jeu :</span></h3>

				<ul class="explanation-card__text">
					<li>Faire preuve de créativité et d’humour pour servir l’argumentation.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="CTA-block">
		<div class="CTA CTA--plaquette">
			<a class="CTA__link" href=".{{ site.baseurl}}/downloads/DébActeur - Éducation Supérieure.pdf" download>Plaquette descriptive des ateliers</a>
		</div>
		<div class="CTA">
			<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
		</div>
	</div>
	<div class="quote-wrapper">
		<blockquote class="blockquote blockquote--piaget">
			<p class="blockquote__text">
			<span class="fill-in">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
			Un mot vide de pensée est une chose morte, de la même façon qu’une pensée dénuée de mots reste dans l’ombre.
			</p>
			<footer class="blockquote__footer">
				Lev Vygotsky, Psychologue du développement
			</footer>
		</blockquote>
	</div>
</div>
<div class="organisation-wrapper" id="organisation">
	<h2 class="title">Organisation de nos ateliers</h2>
	<div class="organisation organisation-step1">
		<h3 class="organisation-step1__title">Séances d’initiation</h3>
		<div class="organisation-step1__explanation">
			<div class="info">Temps 1:  60 à 120 minutes - Cet atelier présente les "outils" bases de fonctionnement et n’est organisé qu’une fois par groupe.</div>
			<div class="text">Développer sa capacité à débattre en adoptant  une posture d'écoute, de jugement critique, d'assertivité et de respect <span class="bold">ne s'improvise pas</span> et nous allons poser les bases de ces principes lors de cette session d’initiation.
			</div>
			<div class="SVG_container">
				<img alt="illustration d'un coureur prêt au départ"class="SVG_container__img SVG_container__img--organisation" src="{{ site.baseurl }}/images/Atelier/runner.svg"></img>
			</div>
			<div class="number number--1"><p class="number__text">1</p></div>
		</div>
	</div>
	<div class="organisation organisation-step2">
		<h3 class="organisation-step2__title">Séances d’application</h3>
		<div class="organisation-step2__explanation">
			<div class="info">Temps 2 : 120 minutes - 20 participants maximum - 1 thématique par atelier. Nous pouvons vous proposer une palette large ou construire un sujet avec vous.
				Égalité professionnelle, Europe, lutte contre les discriminations...</div>
			<div class="text">Après, on joue.</br>
				Le lien avec la démocratie et les questions contemporaines se fait dans ces ateliers.</br>
				Pour susciter un questionnement citoyen sur notre environnement contemporain, nous demanderons aux participants <span class="bold">de ne pas forcément défendre leur propre opinion.</span></br>
				Via des jeux de rôles, des assemblées fictives ou des faux tribunaux, en abordant des enjeux comme l'égalité femme/homme ou la protection des données numériques, les participants pourront mettre en pratique et développer, de façon accompagnée et constructive, leurs acquis au service d'une prise de conscience civique.

			</div>
			<div class="SVG_container">
				<img alt="illustration d'une individue s'amusant" class="SVG_container__img SVG_container__img--organisation" src="{{ site.baseurl }}/images/Atelier/stars.svg"></img>
			</div>
			<div class="number number--2"><p class="number__text">2</p></div>
		</div>
	</div>
	<div class="CTA-block">
	<div class="CTA CTA--organisation">
		<a class="CTA__link" href="contact.html">Nous contacter</a>
	</div>
		<div class="CTA">
			<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
		</div>
	</div>
	</div>
</div>
