---
title: Déb'Acteur | Devenez acteur du débat
layout: default
permalink: /contact
ref: contact
lang: fr
---

<div class="contact-panel">
	<div class="contact-link">
		<h1 class="page-title">CONTACT</h1>
		<div class="contact-link__mail">
			<h2 class="title">Nous contacter</h2>
			<a href="mailto:debacteur@protonmail.com">debacteur@protonmail.com</a>
			<br/>
		</div>
		<div class="contact-link__social-media">
			<h2 class="title">Nous suivre</h2>
			<ul class="social-icons">
				<li class="social-icons__facebook">
					<a href="https://www.facebook.com/DevenirActeurDuDebat" target="_blank">
						<svg width="60" height="60" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="fa-facebook" d="M20.3125 0.457031C21.6037 0.457031 22.7078 0.871085 23.6247 1.69919C24.5416 2.5273 25 3.52446 25 4.69067V18.8028C25 19.969 24.5416 20.9662 23.6247 21.7943C22.7078 22.6224 21.6037 23.0365 20.3125 23.0365H17.2526V14.2899H20.4915L20.9798 10.8794H17.2526V8.70381C17.2526 8.15501 17.3801 7.7434 17.6351 7.469C17.8901 7.1946 18.3865 7.0574 19.1243 7.0574L21.11 7.0427V3.99977C20.4264 3.91157 19.4607 3.86746 18.2129 3.86746C16.7372 3.86746 15.5572 4.25947 14.6729 5.04348C13.7885 5.82748 13.3464 6.9349 13.3464 8.36571V10.8794H10.0911V14.2899H13.3464V23.0365H4.6875C3.39627 23.0365 2.29221 22.6224 1.37533 21.7943C0.458442 20.9662 0 19.969 0 18.8028V4.69067C0 3.52446 0.458442 2.5273 1.37533 1.69919C2.29221 0.871085 3.39627 0.457031 4.6875 0.457031H20.3125Z" fill="black"/>
						</svg>
					</a>
				</li>
				<li class="social-icons__instagram">
					<a href="https://www.instagram.com/debacteur/" target="_blank">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="fa_instagram" d="M44.933 0H19.0638C14.009 0.00594022 9.16303 2.01679 5.58907 5.59134C2.01512 9.1659 0.00509032 14.0122 0 19.067L0 44.9362C0.00594022 49.991 2.01679 54.837 5.59134 58.4109C9.1659 61.9849 14.0122 63.9949 19.067 64H44.9362C49.991 63.9941 54.837 61.9832 58.4109 58.4087C61.9849 54.8341 63.9949 49.9878 64 44.933V19.0638C63.9941 14.009 61.9832 9.16303 58.4087 5.58907C54.8341 2.01512 49.9878 0.00509032 44.933 0V0ZM57.5631 44.933C57.5631 46.5916 57.2364 48.234 56.6017 49.7664C55.967 51.2987 55.0367 52.6911 53.8639 53.8639C52.6911 55.0367 51.2987 55.967 49.7664 56.6017C48.234 57.2364 46.5916 57.5631 44.933 57.5631H19.0638C15.7146 57.5623 12.5029 56.2312 10.135 53.8627C7.76709 51.4942 6.43686 48.2822 6.43686 44.933V19.0638C6.43771 15.7146 7.76876 12.5029 10.1373 10.135C12.5058 7.76709 15.7178 6.43686 19.067 6.43686H44.9362C48.2854 6.43771 51.4971 7.76876 53.865 10.1373C56.2329 12.5058 57.5631 15.7178 57.5631 19.067V44.9362V44.933Z" fill="black"/>
							<path class="fa_instagram" d="M31.998 15.448C27.6109 15.4548 23.4055 17.2008 20.3037 20.3032C17.2018 23.4057 15.4566 27.6115 15.4507 31.9986C15.4558 36.3868 17.201 40.5939 20.3037 43.6971C23.4063 46.8003 27.613 48.5464 32.0012 48.5523C36.39 48.5472 40.5976 46.8016 43.7009 43.6982C46.8042 40.5949 48.5499 36.3873 48.555 31.9986C48.5482 27.6104 46.8014 23.404 43.6975 20.3019C40.5937 17.1999 36.3863 15.4554 31.998 15.4512V15.448ZM31.998 42.1155C29.3157 42.1155 26.7433 41.0499 24.8466 39.1532C22.9499 37.2565 21.8843 34.6841 21.8843 32.0018C21.8843 29.3194 22.9499 26.747 24.8466 24.8503C26.7433 22.9536 29.3157 21.8881 31.998 21.8881C34.6804 21.8881 37.2528 22.9536 39.1495 24.8503C41.0462 26.747 42.1117 29.3194 42.1117 32.0018C42.1117 34.6841 41.0462 37.2565 39.1495 39.1532C37.2528 41.0499 34.6804 42.1155 31.998 42.1155V42.1155Z" fill="black"/>
							<path class="fa_instagram" d="M48.584 19.5386C50.774 19.5386 52.5493 17.7632 52.5493 15.5732C52.5493 13.3833 50.774 11.6079 48.584 11.6079C46.394 11.6079 44.6187 13.3833 44.6187 15.5732C44.6187 17.7632 46.394 19.5386 48.584 19.5386Z" fill="black"/>
						</svg>
					</a>
				</li>
				<li class="social-icons__linkedin">
					<a href="https://www.linkedin.com/company/49137407" target="_blank">
						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="fa_linkedin" fill-rule="evenodd" clip-rule="evenodd" d="M7.91446e-07 5.34692C7.91446e-07 3.92883 0.563334 2.56882 1.56607 1.56608C2.56881 0.56334 3.92882 7.12819e-06 5.34691 7.12819e-06H58.6473C59.35 -0.00114066 60.0461 0.136336 60.6957 0.404565C61.3452 0.672794 61.9355 1.06651 62.4327 1.56317C62.9299 2.05983 63.3243 2.64968 63.5932 3.29894C63.8621 3.94821 64.0004 4.64415 64 5.34692V58.6473C64.0008 59.3502 63.8629 60.0463 63.5944 60.6959C63.3258 61.3455 62.9318 61.9357 62.435 62.4329C61.9381 62.9301 61.348 63.3244 60.6986 63.5933C60.0492 63.8622 59.3531 64.0004 58.6502 64H5.34691C4.6445 64 3.94897 63.8616 3.30006 63.5927C2.65116 63.3238 2.06159 62.9297 1.56505 62.4329C1.0685 61.9361 0.674711 61.3463 0.406175 60.6973C0.137639 60.0482 -0.000381369 59.3526 7.91446e-07 58.6502V5.34692ZM25.3324 24.4015H33.9985V28.7535C35.2495 26.2516 38.4495 24 43.2582 24C52.4771 24 54.6618 28.9833 54.6618 38.1266V55.0633H45.3324V40.2095C45.3324 35.0022 44.0815 32.064 40.9047 32.064C36.4975 32.064 34.6647 35.232 34.6647 40.2095V55.0633H25.3324V24.4015ZM9.33236 54.6647H18.6647V24H9.33236V54.6618V54.6647ZM20 13.9986C20.0176 14.7976 19.8754 15.5921 19.5818 16.3355C19.2882 17.0788 18.849 17.756 18.2901 18.3274C17.7312 18.8987 17.0639 19.3527 16.3271 19.6626C15.5904 19.9725 14.7992 20.1321 14 20.1321C13.2008 20.1321 12.4096 19.9725 11.6729 19.6626C10.9362 19.3527 10.2688 18.8987 9.70987 18.3274C9.15098 17.756 8.71184 17.0788 8.41821 16.3355C8.12459 15.5921 7.9824 14.7976 8 13.9986C8.03454 12.4301 8.68185 10.9376 9.8033 9.84055C10.9248 8.74351 12.4312 8.12922 14 8.12922C15.5688 8.12922 17.0752 8.74351 18.1967 9.84055C19.3182 10.9376 19.9655 12.4301 20 13.9986V13.9986Z" fill="black"/>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="CTA-block">
		<div class="CTA">
			<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
		</div>
		<div class="CTA CTA--XP">
			<a href="a-propos.html#pillars" class="CTA__link">Les raisons de nous contacter</a>
		</div>
		</div>
	</div>
	<div class="informations-pratiques">
		<h2 class="title title--infos-pratiques">Informations pratiques</h2>
		<p class="informations-pratiques__text">
		Les ateliers scolaires peuvent avoir lieu dans toute la France métropolitaine en fonction de nos disponibilités.</br></br>Les assemblées nationales fictives peuvent également s’organiser sur l’ensemble du territoire en fonction de nos partenaires locaux.</br></br>
		Si vous souhaitez devenir partenaire, participant ou simplement discuter, n’hésitez pas à nous envoyer un message !</p> 
	</div>
</div>  <!-- End contact-panel -->
