---
title: Débacteur | Devenez acteur du débat
layout: experiences
permalink: /experiences-citoyennes
ref: experiences-citoyennes
lang: fr
---

<div class="showcase showcase--XP">
	<h1 class="page-title">NOS EXPÉRIENCES CITOYENNES</h1>
	<p class="catchphrase">Députés, le temps d’une soirée ?</p>
	<div class="XP-presentation">
		<div class="encapsulated-text">
			<div class="encapsulated-text__shape1"></div>
			<div class="encapsulated-text__shape2">
				<p class="shaped-text">
				Représentant politique n’est pas forcément un métier facile ! Vous allez le découvrir...</br></br>
				Nous vous proposons d’incarner un courant idéologique <span class="bold">attribué aléatoirement</span> afin de débattre sur une proposition de loi.</br></br>
				Adopter un revenu universel, peut-être, mais quel montant et dans quelles conditions  ?</br>
				Et pourquoi pas rallonger la durée du congé paternité  ?</br></br>
				Devenez acteur du débat !<p>
			</div>
		</div>
		<div class="IMG_container">
			<div alt="illustration d'une individue devant choisir entre deux options" class="IMG_container__image"></div>
		</div>
	</div>
	<div class="explanation">
		<h2 class="explanation__title">Une expérience :</h2>
		<div class="explanation-wrapper">
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Ludique</span></h3>
				<p class="explanation-card__text">Accompagnés par notre équipe, vous allez vivre le temps d'une soirée, la vie d’un responsable politique. </br></br>
				Adopter un point de vue qui n'est pas le nôtre nous pousse à réfléchir différemment afin de voir autrement ces questions démocratiques.
				</p>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Immersive</span></h3>
				<p class="explanation-card__text">Incarnez la vie d’un député dans le cadre d’une Assemblée Nationale fictive.
				Vous serez véritablement acteur du débat !</br></br>
				Plus de détails sur le déroulé ci-dessous.</p>
			</div>
			<div class="explanation-card">
				<h3 class="explanation-card__title"><span class="bold">Pédagogique</span></h3>
				<p class="explanation-card__text">Revenu universel, environnement, Europe, éducation...</br></br>
				Venez découvrir toutes les facettes de ces sujets et bien d’autres grâce à nos supports d’information !</p>
			</div>

		</div>
	</div>
</div>
	<div class="CTA-block newsletter newsletter__XP">
		{% if site.tinyletter_username %}
		<form class="form-inline" role="form" action="https://tinyletter.com/{{ site.tinyletter_username }}/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/{{ site.tinyletter_username }}', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
			<div class="CTA"><div class="CTA__link">S'inscrire à notre newsletter mensuelle</div></div>
			<div class="disolve">
				<input type="email" name="email" placeholder="E-mail" />
				<input type="submit" id="submit" value="Envoyer" />
				<p>Validez votre e-mail de confirmation et vous êtes inscrit !</p>
			</div>  
		</form>
		{% endif %}
	<div class="CTA width250px">
		<a class="CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
</div>
	</div>
<div class="testimonials">
	<h2 class="title">Témoignages</h2>
	<div class="testimonials-carousel Carousel">
		<div class="testimonials-carousel__quote-top"></div>
		<div class="testimonials-carousel__quote-bottom"></div>
		<div class="testimonials-carousel__wrapper">
			<div class="Carousel__slide">
				<blockquote class="testimonial">
					<p class="testimonial__text">
					En tant qu’apartisan, je constate souvent que le fait de parler politique entre amis a tendance à créer des tensions et à plomber l’ambiance. Avec Déb’Acteur, c’est complètement l’inverse. Le fait de jouer un rôle (même celui contre lequel on s’oppose habituellement) nous permet de mieux réfléchir sur l’actualité. De plus, si l’on se prend au jeu, c’est un bel exercice d’écoute active et de prise de parole.</p>
					<footer class="testimonial-footer">
						<p class="testimonial-footer__name">Edouard P.</p>
						<p class="testimonial-footer__role">Consultant, Paris</p>
					</footer>
				</blockquote>
			</div>
			<div class="Carousel__slide">
				<blockquote class="testimonial">
					<p class="testimonial__text">

					Déb'Acteur, je me suis prise au jeu immédiatement. 
					Depuis que j'ai participé à une session, je ne regarde plus l'actualité de la même manière.
					Le fait d'adopter un autre point de vue est d'abord frustrant, mais au final, sert la réflexion. Je recommande !</p>
					<footer class="testimonial-footer">
						<p class="testimonial-footer__name">Oihana L.</p>
						<p class="testimonial-footer__role">Etudiante en économie, Paris</p>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
	<div class="CTA-block">
	<div class="CTA width250px">
		<a class="CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
</div>
	</div>
<div class="quote-wrapper">
	<blockquote class="blockquote blockquote--piaget">
		<p class="blockquote__text">
		Un bon discours politique ne doit émettre que des idées avec lesquelles tout le monde est déjà d’accord avant.</p>
		<footer class="blockquote__footer">
			Coluche
		</footer>
	</blockquote>
</div>
<div class="how-to_section">
	<h2 class="title">Comment ça marche ?</h3>
	<div class="how-to_wrapper">
		<p class="how-to_wrapper__text1">
		Déb’Acteur vous propose de participer à une assemblée fictive simplifiée, le temps d’une soirée. Vous aurez l’occasion (oui, vous !) de représenter un courant idéologique (attribué aléatoirement), accompagné par un coach pour vous aider tout au long de la session.</br></br>
		Pour chaque session, un sujet sera abordé (revenu universel, écologie, services publics...).</br>
		Les participants sont répartis en groupes ou en parti pour défendre ou s’opposer à une proposition de loi.</br></br>
		Ces assemblées sont accessibles à partir de l’âge de 16 ans.</p>
		<h3 class="sub-title">Notre objectif est simple !</h3>
		<p class="how-to_wrapper__text2">
		Nous demandons aux participants de ne pas défendre leurs propres opinions, c’est pourquoi la répartition dans les groupes est aléatoire. Nous souhaitons via cette expérience immersive et décalée faire vivre la démocratie au plus proche des citoyens.</br></br>
		Jouez le rôle d’un.e député, le temps d’un instant pour devenir <span class="bold">acteur du débat</span> !</p>
		<div class="IMG_container">
			<div alt="illustration d'une individue cherchant à débloquer une situation" class="IMG_container__image"></div>
		</div>
	</div>
</div>
<div class="how-to-contact">
	<div class="social-network"> 
		<h4 class="small-title">Vous souhaitez participer à la prochaine session ?</h4>
		<h4 class="small-title">Nos prochains évènements (description & inscription) :</h4>
		<div class="row">
			<ul class="social-icons">
				<li class="social-icons__facebook">
					<a href="https://www.facebook.com/DevenirActeurDuDebat" target="_blank">
						<svg width="60" height="60" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="fa-facebook" d="M20.3125 0.457031C21.6037 0.457031 22.7078 0.871085 23.6247 1.69919C24.5416 2.5273 25 3.52446 25 4.69067V18.8028C25 19.969 24.5416 20.9662 23.6247 21.7943C22.7078 22.6224 21.6037 23.0365 20.3125 23.0365H17.2526V14.2899H20.4915L20.9798 10.8794H17.2526V8.70381C17.2526 8.15501 17.3801 7.7434 17.6351 7.469C17.8901 7.1946 18.3865 7.0574 19.1243 7.0574L21.11 7.0427V3.99977C20.4264 3.91157 19.4607 3.86746 18.2129 3.86746C16.7372 3.86746 15.5572 4.25947 14.6729 5.04348C13.7885 5.82748 13.3464 6.9349 13.3464 8.36571V10.8794H10.0911V14.2899H13.3464V23.0365H4.6875C3.39627 23.0365 2.29221 22.6224 1.37533 21.7943C0.458442 20.9662 0 19.969 0 18.8028V4.69067C0 3.52446 0.458442 2.5273 1.37533 1.69919C2.29221 0.871085 3.39627 0.457031 4.6875 0.457031H20.3125Z" fill="black"/>
						</svg>
					</a>
				</li>
				<li class="social-icons__eventbrite">
					<a href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">

						<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0)">
							<path class="fa_eventbrite" d="M28.0005 15.4701C31.3443 14.7122 34.836 14.9384 38.0542 16.1212C41.2724 17.3041 44.0794 19.3931 46.1365 22.1361L14.9385 29.3341C16.0005 22.6681 21.0605 17.0621 28.0005 15.4701ZM46.3945 41.6061C44.0005 45.0621 40.2725 47.7281 36.0005 48.5321C28.8025 50.1381 21.8645 47.1981 17.8645 41.6061L49.0625 34.6681L54.1365 33.6061L64.0005 31.4701C64.0005 29.3341 63.7285 27.1981 63.1985 25.3341C59.1985 8.00006 42.1365 -2.39394 24.8045 1.60606C7.47247 5.60606 -3.19553 22.3961 0.804466 39.1981C4.80447 56.0001 21.8665 66.6681 39.1985 62.6681C49.3345 60.2741 57.3345 53.6061 61.0625 45.0621C61.3345 44.8041 46.3965 41.6061 46.3965 41.6061H46.3945Z" fill="black"/>
							</g>
							<defs>
							<clipPath id="clip0">
							<rect width="64" height="64" fill="white"/>
							</clipPath>
							</defs>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="email-contact">
		<h4 class="small-title">Vous souhaitez co-organiser une session près de chez vous ?</h4>
		<div class="CTA">
			<a href="tomail:debacteur@protonmail.com" class="CTA__link">Contactez nous</a>
		</div>
	</div>
</div>
<div class="reality-section">
	<h2 class="title">Mais... concrètement ?</h2>
	<div class="roadmap">
		<svg class="roadmap__svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" style="position:absolute; z-index:-1; left:0; top:0;">
			<defs>
			<marker id="arrowhead" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto" fill="#ffcd00">
			<path d="M 0 0 L 10 5 L 0 10 z" />
			</marker>
			</defs>
		</svg>
		<div class="R_step">
			<div class="R_step__text">
				<h3 class="small-title">D’abord, on se rencontre ! ... et on discute un peu.</h3>
				<p class="text">
				Chaque parti (répartition aléatoire !) se rencontre, il s’agit de prendre connaissance de la proposition de loi et de répondre aux questions si besoin.</br>
				Quels sont les tenants et aboutissants de la proposition de loi ? Sommes-nous en faveur ou en défaveur ? Pourquoi ?</br> 
				Nous identifions collectivement les arguments et la position du groupe.</p>
			</div>
			<div class="R_step__number_wrapper">
				<div class="R_step__number">
					<p>1</p>
				</div>
			</div>
		</div>
		<div class="R_step R_step--inverse">
			<div class="R_step__text">
				<h3 class="small-title">Ensuite, l’Assemblée se réunit pour la première fois.</h3>
				<p class="text">Tous les groupes se retrouvent pour présenter les arguments afin de justifier leur position. Ces présentations se font par des volontaires au sein de chaque groupe, personne n’est contraint de prendre la parole ! Place au premier vote.</p>
			</div>
			<div class="R_step__number_wrapper">
				<div class="R_step__number">
					<p>2</p>
				</div>
			</div>
		</div>
		<div class="R_step">
			<div class="R_step__text">
				<h3 class="small-title">Puis, on négocie !</h3>
				<p class="text">Au cours de ce moment, les groupes se rencontrent pour modifier la proposition dans un sens ou dans l’autre afin de trouver des compromis, d’ajuster la proposition en accord avec les préférences du groupe opposant.</p>
			</div>
			<div class="R_step__number_wrapper">
				<div class="R_step__number">
					<p>3</p>
				</div>
			</div>
		</div>
		<div class="R_step R_step--inverse">
			<div class="R_step__text">
				<h3 class="small-title">Le temps du vote final arrive.</h3>
				<p class="text">Les amendements de la proposition sont votés pour arriver à la dernière version qui est également soumise à un vote final ! </p>
			</div>
			<div class="R_step__number_wrapper">
				<div class="R_step__number">
					<p>4</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="quote-wrapper">
	<blockquote class="blockquote blockquote--dumbledore">
		<p class="blockquote__text">
		Ce ne sont pas nos capacités qui déterminent ce que nous sommes, ce sont nos choix.</p>
		<footer class="blockquote__footer">
			Albus Dumbledore
		</footer>
	</blockquote>
</div>
<div class="CTA-block CTA-block-bottom">
	<div class="CTA">
		<a class="CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
</div>
</div>
