---
title: Debacteur
layout: index
permalink: /
ref: index
lang: fr
---

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P5HBXP4');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5HBXP4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="showcase">
	<h1 class="page-title">À LA CONQUÊTE DE LA DÉMOCRATIE</h1>
	<div class="Carousel Carousel--horizontal">
		<div class="Carousel__slide">
			<h3 class="Carousel__slide__title">Avec nos ateliers,  vous prendrez part à la démocratie.</h3>
			<div class="S-Description">
				<p>
				Notre démocratie repose sur le principe de la représentativité. Ceci facilite les décisions démocratiques, mais contribue aussi à éloigner les citoyens de la vie publique et des questions sociétales.
				Comment reconnecter avec la démocratie et ses questions ?
				</p>
				<h3 class="S-Description__title">Learning by playing !</h3>
				<p>
				Nous proposons des cadres d’échanges décalés pour nous concentrer sur le fond des questions démocratiques actuelles.</br></br>
				Le jeu est au service de la création d’idées et d’arguments pour éviter tout jugement entre les participants et faciliter l’émergence de l’intelligence collective ! 
				</p>
			</div>
			<div class="SVG_container">
				<img alt="dessin d'une femme prenant la parole" class="SVG_container__img SVG_container__img--carousel" src="{{ site.baseurl }}/images/Homepage/Carousel__slide_1.svg"></img>
			</div>
			<div class="newsletter">
				{% if site.tinyletter_username %}
				<form class="form-inline" role="form" action="https://tinyletter.com/{{ site.tinyletter_username }}/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/{{ site.tinyletter_username }}', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
					<div class="CTA"><div class="CTA__link">S'inscrire à notre newsletter mensuelle</div></div>
					<div class="disolve">
						<input type="email" name="email" placeholder="E-mail" />
						<input type="submit" id="submit" value="Envoyer" />
						<p>Validez votre e-mail de confirmation et vous êtes inscrit !</p>
					</div>  
				</form>
				{% endif %}
			</div>
		</div>
		<div class="Carousel__slide">
			<h3 class="Carousel__slide__title">Notre devoir citoyen s’arrête-t-il au droit de vote ?</h3>
			<div class="S-Description">
				<p>Chez Déb’Acteur, nous voulons recréer le lien entre le citoyen.ne et la démocratie. Nous pensons que la démocratie ne s’arrête évidemment pas au vote.


				Notre approche ludo-pédagogique permet aux participants d’intégrer et de mieux comprendre tous les aspects de la démocratie.  </br>Notre approche offre un apprentissage étape par étape qui s’adapte au niveau des participant afin de toujours rendre la démocratie ludique et abordable.</br> </p>
			</div>
			<div class="SVG_container">
				<img alt="dessin illustrant un vote" class="SVG_container__img SVG_container__img--carousel" src="{{ site.baseurl }}/images/Homepage/Carousel__slide_2.svg"></img>
			</div>
			<div class="CTA">
				<a class="CTA__link" href="a-propos.html">Découvrir nos outils</a>
			</div>
		</div>
		<div class="Carousel__slide">
			<h3 class="Carousel__slide__title">Est-il possible d’exercer autrement notre citoyenneté ?</h3>
			<div class="S-Description">
				<p>Chez Déb’Acteur nous sommes convaincus que la capacité à débattre sur des sujets sociétaux renforce notre lien à la démocratie. Nos ateliers permettent d’explorer les 1001 facettes de la citoyenneté.</p>
			</div>
			<div class="SVG_container">
				<img alt="dessin illustrant l'emergence d'idée" class="SVG_container__img SVG_container__img--carousel" src="{{ site.baseurl }}/images/Homepage/Carousel__slide_3.svg"></img>
			</div>
			<div class="CTA">
				<a class="CTA__link" href="ateliers-scolaires-et-superieurs.html">Découvrir nos ateliers</a>
			</div>
		</div>
		<div class="Carousel__slide">
			<h3 class="Carousel__slide__title">Alors comment devenir Actrice, Acteur du débat public ? Comment recréer l’envie de participer à la vie citoyenne ?</h3>
			<div class="S-Description">
				<p>Déb’Acteur vous accompagne dans la mise en place d’outils pour réussir vos débats :
				<ul>
					<li>Ecouter et s’intéresser aux autres</li>
					<li>Identifier les techniques oratoires</li>
					<li>Comprendre le fonctionnement démocratique</li>
					<li>Aborder des sujets comme la gestion des données numériques, l'Europe ou la prostitution.</li>
				</ul>
			</div>
			<div class="SVG_container">
				<img alt="dessin homme prenant la parole" class="SVG_container__img SVG_container__img--carousel" src="{{ site.baseurl }}/images/Homepage/Carousel__slide_4.svg"></img>
			</div>
			<div class="CTA">
				<a class="CTA__link" href="mailto:debacteur@protonmail.com">Mettre en place un atelier</a>
			</div>
		</div>
	</div>
</div>  <!-- End Showcase -->
<div class="they_talk_about_us">
	<h2 class="title">On parle de nous</h2>
	<div class="audio">
		<div class="IMG_container Carnets">
			<a href="https://www.franceinter.fr/emissions/carnets-de-campagne/carnets-de-campagne-04-mai-2021" target="_blank" style="display: block; height: 200px;">
				<img alt="logo partenaire france inter" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/Carnets_de_campagne.png"></img></a>
		</div>
		<div class="description">
			<a href="https://www.franceinter.fr/emissions/carnets-de-campagne/carnets-de-campagne-04-mai-2021" target="_blank">
				<h3 class="audio_title">Carnets de campagne <img src="{{ site.baseurl }}/images/Homepage/franceinter.png"/></h3>
			</a>
			<p>Carnets inter-départements du 4 mai</p>
		</div>
		<div class="player">
			<div class="lecture">
				<button class="play">play</button>
			</div>
			<div class="controles">	
				<div class="track">
					<a href="{{ site.baseurl }}/downloads/debacteur.mp3" rel="enclosure" title="Ecouter"><span class="fn">Déb'Acteur sur france Inter</span></a>
				</div>
				<div>
					<div class="progress_bar">
						<div class="position"></div>
						<div class="loading"></div>
					</div>
					<div class="lesinfos">
						<div class="file">
							<a href="{{ site.baseurl }}/downloads/debacteur.mp3" class="inline-exclude" title="Télécharger le fichier - 24.9&#160;Mb"><small>mp3</small></a>
						</div>
						<div class="time">00:00</div>	
						<div class="duration">/ 00:00</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="trust">
	<h2 class="title">Ils nous font confiance</h2>
	<div class="partners carousel" data-flickity='{ "groupCells": true}'>
		<div class="IMG_container carousel-cell">
			<a href="https://www.cojob.fr" target="_blank"><img alt="logo partenaire cojob" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/cojob.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.social-bar.org/" target="_blank"><img alt="logo partenaire le social bar" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/le_social_bar.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://ledrenche.ouest-france.fr/" target="_blank"><img alt="logo partenaire le drenche" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/drenche.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.cae-clara.fr/" target="_blank"><img alt="logo partenaire clara" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/cae-clara.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.bsb-education.com" target="_blank"><img alt="logo partenaire burgundy school of business" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/burgundy_school_of_business.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.la-ruche.net" target="_blank"><img alt="logo partenaire la ruche" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/la_ruche.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.esi-business-school.com/" target="_blank"><img alt="logo partenaire ESI" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/esi.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.anticor.org/" target="_blank"><img alt="logo partenaire anticor" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/anticor.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.andra.fr/" target="_blank"><img alt="logo partenaire andra" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/andra.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.academieduclimat.paris/" target="_blank"><img alt="logo partenaire academieduclimat" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/academieduclimat.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://42.fr/" target="_blank"><img alt="logo partenaire 42" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/42.png"></img></a>
		</div>
		<div class="IMG_container carousel-cell">
			<a href="https://www.les150.fr/" target="_blank"><img alt="logo partenaire 150" class="IMG_container__image" src="{{ site.baseurl }}/images/Homepage/150.png"></img></a>
		</div>
	</div>
</div>
<div class="know-how">
	<h2 class=" title">Nos savoir-faire</h2>
	<div class="Carousel-workshop">
		<div class="workshop-presentation">
			<h3 class="workshop-presentation__title">Ateliers scolaires et universitaires</h3>
			<p class="workshop-presentation__text">Il peut être compliqué de définir la démocratie sur les bancs de l’école. Le niveau de l’abstention chez les moins de 25 ans questionne les liens qui existent entre les jeunes et la démocratie.
			Nos interventions auront à coeur de créer une réflexion sur cet enjeu fondamental. 
			Via une approche plurimodale basée sur le jeu, nous allons faire vivre une expérience à vos élèves et étudiants (qui pourra leur servir à d'autres niveaux comme, par exemple, le grand oral au lycée ou lors d'un concours dans le supérieur)</p>
			<div class="IMG_container">
				<div alt="dessin en rapport à l'école" class="IMG_container__image IMG_container__image--workshop1"></div>
			</div>
			<div class="workshop-presentation__CTA-block">
				<div class="workshop-presentation__CTA CTA CTA--workshops-presentation">
					<a class="workshop-presentation__CTA-link CTA__link" href="ateliers-scolaires-et-superieurs.html">En savoir plus</a>
				</div>
				<div class="workshop-presentation__CTA CTA CTA--workshops-presentation">
					<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
				</div>
			</div>
		</div>
		<div class="workshop-presentation">
			<h3 class="workshop-presentation__title">Expérience immersive citoyenne</h3>
			<p class="workshop-presentation__text">La démocratie représentative crée une distance entre la sphère publique et notre quotidien. Pourtant, au coeur de ce modèle, c’est bien nous qui sommes concernés par les décisions prises non seulement au niveau municipal mais aussi cantonal, régional voire national !
			Déb’Acteur vous propose de vivre une expérience participative et ludique pour mieux comprendre les enjeux démocratiques actuels !
			</p>
			<div class="IMG_container">
				<div alt="dessin illustrant un parlement" class="IMG_container__image IMG_container__image--workshop2"></div>
			</div>
			<div class="workshop-presentation__CTA-block">
				<div class="workshop-presentation__CTA CTA CTA--workshops-presentation">
					<a class="workshop-presentation__CTA-link CTA__link" href="experiences-citoyennes.html">En savoir plus</a>
				</div>
				<div class="workshop-presentation__CTA CTA CTA--workshops-presentation">
					<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="testimonials">
	<h2 class="title">Témoignages</h2>
	<p class="testimonials__catchphrase">Notre satisfaction,c'est d'abord celle de nos participants !</p>
	<div class="testimonials-carousel Carousel">
		<div class="testimonials-carousel__quote-top"></div>
		<div class="testimonials-carousel__quote-bottom"></div>
		<div class="testimonials-carousel__wrapper">
			<div class="Carousel__slide">
				<blockquote class="testimonial">
					<p class="testimonial__text">
					En tant qu’apartisan, je constate souvent que le fait de parler politique entre amis a tendance à créer des tensions et à plomber l’ambiance.

					Avec Déb’Acteur, c’est complètement l’inverse.
					Le fait de jouer un rôle (même celui contre lequel on s’oppose habituellement) nous permet de mieux réfléchir sur l’actualité.

					De plus, si l’on se prend au jeu, c’est un bel exercice d’écoute active et de prise de parole.</p>
					<footer class="testimonial-footer">
						<p class="testimonial-footer__name">Edouard P.</p>
						<p class="testimonial-footer__role">Consultant, Paris</p>
					</footer>
				</blockquote>
			</div>
			<div class="Carousel__slide">
				<blockquote class="testimonial">
					<p class="testimonial__text">

					Déb'Acteur, je me suis prise au jeu immédiatement. 
					Depuis que j'ai participé à une session, je ne regarde plus l'actualité de la même manière.
					Le fait d'adopter un autre point de vue est d'abord frustrant, mais au final, sert la réflexion. Je recommande !
					</p>
					<footer class="testimonial-footer">
						<p class="testimonial-footer__name">Oihana</p>
						<p class="testimonial-footer__role">Étudiante en économie (ENS), Paris</p>
					</footer>
				</blockquote>
			</div>
			<div class="Carousel__slide">
				<blockquote class="testimonial">
					<p class="testimonial__text">

					Je voudrais tout d'abord vous remercier tous pour cet événement à la fois ludique et instructif ! J'ai vraiment passé un bon moment.
					</br>J'ai trouvé que c'était bien organisé, dans l'alternance des étapes et dans la modération des participations de chacun!
					</br>Vraiment une superbe expérience, ravie d'avoir découvert Déb'Acteur.
					</p>
					<footer class="testimonial-footer">
						<p class="testimonial-footer__name">Ornella</p>
						<p class="testimonial-footer__role">Étudiante, Paris</p>
					</footer>
				</blockquote>
			</div>
			<div class="Carousel__slide">
				<blockquote class="testimonial">
					<p class="testimonial__text">

					Le débat était construit de façon à ce que je me sente complètement incluse, c'était vraiment bien! 
					</br>Merci Déb'Acteur pour cette soirée!
					</p>
					<footer class="testimonial-footer">
						<p class="testimonial-footer__name">Marie</p>
						<p class="testimonial-footer__role">Étudiante, Paris</p>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
		<div class="CTA">
			<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
		</div>
</div>
<div class="role">
	<h2 class="title">Notre rôle</h2>
	<div class="role-grid">
		<div class="encapsulated-text">
			<div class="encapsulated-text__shape1"></div>
			<div class="encapsulated-text__shape2">
				<p class="shaped-text">Déb'Acteur est un projet totalement apartisan qui a pour objectif de développer le lien entre citoyens et vie publique grâce à des méthodes ludiques et accessible, à travers des ateliers dédiés aux enjeux de citoyenneté. Ces ateliers sont accessibles à toutes et à tous dès 11 ans, participatifs et, encore une fois, totalement apartisans. Déb'Acteur fait partie de la coopérative CLARA et adopte pleinement les valeurs de la coopérative.</br></br>
				Nous proposons d'un côté des ateliers pour sensibiliser en milieux scolaire et de l'autre côté un format évènementiel (expérience citoyenne).
				</p>
			</div>
		</div>
		<div class="SVG_container">
			<img alt="dessin homme indiquant une voie à suivre" class="SVG_container__img SVG_container__img--goal" src="{{ site.baseurl }}/images/Homepage/goal.svg"></img>
		</div>
	</div>
		<div class="CTA-block CTA-block-bottom">
			<div class="CTA">
				<a class="CTA__link" href="a-propos.html">Qui sommes-nous ?</a>
			</div>
			<div class="CTA">
				<a class="workshop-presentation__CTA-link CTA__link" href="https://www.eventbrite.fr/o/cooperative-debacteur-31150895485" target="_blank">S'inscrire à un atelier</a>
			</div>
		</div>
</div>
