---
title: Debacteur
layout: index
permalink: /mentions-legales
ref: index
lang: fr
---

<div class="showcase title-no-underline">
	<h1 class="page-title">Mentions légales</h1>
	<p>Le site <a href="www.debacteur.fr">Déb'Acteur.fr</a> présente notre coopérative totalement apolitique, qui a pour objectif de développer le lien entre citoyen.ne.s (dès 11 ans) et la vie publique par le biais de méthodes ludiques et accessibles,<a href="www.debacteur.fr">Déb'Acteur.fr</a> est édité par Thomas Pittau, et n’utilisent pas de cookies.</p>

	<h2 class="title">Code entreprises</h2>
		<ul>
			<li>SIREN : 494238785</li>
			<li>SIRET : 494 238 785 000 21</li>
			<li>NAF (Nomenclature d’Activités Française) : 79.90Z</li>
			<li>Numéro TVA IC : FR72494238785</li>
		</ul>
	<h2 class="title">Nous retrouver</h2>
	<p>Siège social : 43 Boulevard de Magenta 75010 Paris</p>
	<ul>
		<li>Site Web : <a href="www.debacteur.fr">Déb'Acteur.fr</a></li>
		<li>Courriel : <a href="mailto:debacteur@protonmail.com">debacteur@protonmail.com</a></li>
	</ul>
	<h2 class="title">Équipe</h2>
	<ul>
		<li>Directeur de la publication : Thomas Pittau, Fondateur</li>
		<li>Personne en charge des demandes de suppression des inscriptions à la mailing liste : Thomas Pittau - <a href="mailto:debacteur@protonmail.com">Déb'Acteur@protonmail.com</a></li>
	</ul>
	<h2 class="title">Hébergeur des sites</h2>
	<p>Le site web  <a href="www.debacteur.fr">Déb'Acteur.fr</a> est hébergé chez <a href="www.framagit.org">framagit</a>.</p>
	<h2 class="title">Informations personnelles</h2>
	<p>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, et au Règlement Général sur la Protection des données, aucune information personnelle n’est collectée à votre insu ou cédée à des tiers. Vous disposez d’un droit d’accès, de rectification et d’opposition aux données vous concernant que vous pouvez exercer en contactant Thomas Pittau. Pour cela, il vous suffit d’envoyer un courriel à <a href="mailto:debacteur@protonmail.com">Déb'Acteur@protonmail.com</a>, ou un courrier par voie postale à  CAE Clara, Déb’Acteur  43 Boulevard de Magenta 75010 Paris , en justifiant de votre identité.</p>
	<h2 class="title">Demandes de suppression des inscriptions à la mailing liste</h2>
	<p>Personne responsable : Thomas Pittau Fondateur - @ : <a href="mailto:debacteur@protonmail.com">Déb'Acteur@protonmail.com</a></p>
	<h2 class="title">Utilisation d’images et d’icônes</h2>
	<ul>
		<li>Icônes : <a href="https://undraw.co/">Undraw</a></li>
		<li>Logo DEB'ACTEUR : Merci à Kevin Vary</li>
		<li>SoundManager2.0: Merci à Scott Schiller</li>
	</ul>
	<h2 class="title">Thèmes Jekyll utilisés</h2>
	<p>Merci à Quentin Parrot</p>


</div>  <!-- End Showcase -->
