---
title: Debacteur
layout: index
permalink: /politique-de-confidentialite
ref: index
lang: fr
---

<div class="showcase title-no-underline">
	<h1 class="page-title">Politique de confidentialité DEB'ACTEUR</h1>
	<h2 class="title">Introduction</h2>
	<p><a href="www.debacteur.fr">Déb'Acteur.fr</a> dépend de la Coopérative d'Activités et d'Emploi (CAE) <a href="https://www.cae-clara.fr/">CLARA</a>. <a href="www.debacteur.fr">Déb'Acteur.fr</a> s’engage à ce que les traitements de données personnelles effectués par <a href="www.debacteur.fr">Déb'Acteur.fr</a> soient conformes au Règlement Général sur la Protection des Données (RGPD), à la loi Informatique et Libertés et aux autres lois applicables.</p>
	<p>Pour ce faire, <a href="www.debacteur.fr">Déb'Acteur.fr</a> s’efforce de mettre en place toutes les précautions nécessaires à la préservation de la confidentialité et à la sécurité des données à caractère personnel communiquées et traitées afin de faire obstacle notamment à leur altération, déformation, endommagement ou encore leur utilisation par des tiers.</p>
	<p>Notre politique de confidentialité a donc pour objet de vous faire part des engagements de <a href="www.debacteur.fr">Déb'Acteur.fr</a> en matière de collecte, de traitement et de transfert des données à caractère personnel et, plus largement, en matière de protection des données à caractère personnel.</p>
	<p>Il est rappelé que la notion de données à caractère personnel (ci-après, intitulée les « données personnelles ») désigne toute information relative à une personne permettant de l’identifier directement ou indirectement, comme par exemple votre nom, votre numéro de téléphone, votre adresse IP ou encore votre adresse électronique.</p>
	<h2 class="title">À qui s’adresse notre politique ?</h2>
	<p>Notre politique de confidentialité est destinée aux visiteurs du site Internet, aux adhérents, aux donateurs, aux prospects, aux clients, aux fournisseurs ou aux sous-traitants de <a href="www.debacteur.fr">Déb'Acteur.fr</a>, aux employés, ou candidats pour une offre d’emploi au sein de <a href="www.debacteur.fr">Déb'Acteur.fr</a> et, plus largement à toute personne dont les données personnelles seraient susceptibles d’être ou sont collectées, reçues, conservées, traitées, transférées et utilisées, quel que soit le format.</p>
	<p>En utilisant notre site internet ainsi qu’en communiquant vos données personnelles à <a href="www.debacteur.fr">Déb'Acteur.fr</a>, vous reconnaissez avoir lu et compris la présente politique de confidentialité et consentez à ce que vos données personnelles soient utilisées et traitées selon les termes de la présente politique, dans le cadre de la législation en vigueur.</p>
	<h2 class="title">Les données recueillies</h2>
	<h3>Les informations que vous transmettez à Déb'Acteur</h3>
	<p>En utilisant notre site Internet, vous êtes amenés à nous transmettre des données personnelles permettant de vous identifier et/ou d’identifier votre organisation (société, association, établissement public…). Parmi ces informations figure notamment votre identité, votre email, votre numéro de téléphone, votre identifiant, ...</p>
	<p>De plus, dans le cadre d’une relation contractuelle – toute prestation fait l'objet d'un contrat – avec <a href="www.debacteur.fr">Déb'Acteur.fr</a>, divers documents sont nécessaires pour la bonne exécution de cette relation : adresse, lieu d’exécution de la prestation, nom de l’organisation, nom et prénom de l’interlocuteur, email, numéro de téléphone, numéro de SIREN, Numéro IC …</p>
	<h3>Les données relatives aux réseaux sociaux</h3>
	<p>Dans le cas où vous vous connectez à notre site en utilisant les fonctionnalités de réseaux sociaux mises à votre disposition, <a href="www.debacteur.fr">Déb'Acteur.fr</a> aura accès à certaines de vos données telles que votre prénom, nom de famille, adresse email, de votre compte sur ledit réseau social conformément aux conditions générales d’utilisation du réseau social concerné.</p> 
	<p>NB : en utilisant les réseaux sociaux, vos données personnelles sont susceptibles d’être diffusées, utilisées par tous et partout, sans votre consentement préalable.</p>
	<h3>Les données relatives aux Cookies</h3>
	<p>Le site debacteur.fr est édité par Thomas Pittau, et n’utilise pas de cookies.</p>
	<h3>Les données dites “sensibles”</h3>
	<p><a href="www.debacteur.fr">Déb'Acteur.fr</a> ne collecte aucune donnée sensible.</p> 
	<h2 class="title">L’utilisation des données personnelles</h2>
	<p>Les données personnelles que vous transmettez à  <a href="www.debacteur.fr">Déb'Acteur.fr</a> ou que  <a href="www.debacteur.fr">Déb'Acteur.fr</a> collectent sont traitées notamment pour les finalités suivantes :</p>
	<ul>
		<li>L’exécution de nos obligations contractuelles respectives ;</li>
		<li>Création, gestion et maintien de sa relation d’affaires avec ses clients, prospects, fournisseurs et sous-traitants ;</li>
		<li>Fourniture de produits et de services, ainsi que leur gestion notamment administrative ;</li> 
		<li>Traitement de la facturation et des paiements ;</li>
		<li>Newsletter ;</li>
		<li>Prospection commerciale ;</li>
		<li>Études, analyses et statistiques marketing.</li>
	</ul>
	<h2 class="title">Les destinataires des données personnelles</h2>
	<p>Les données personnelles récoltées par <a href="www.debacteur.fr">Déb'Acteur.fr</a> sont hébergées en France.</p>
	<p><a href="www.debacteur.fr">Déb'Acteur.fr</a> s’engage à ne pas transmettre vos données personnelles à une tierce partie sauf si vous avez donné votre accord préalable pour le partage de vos données personnelles avec des tiers, ou que le partage de vos données personnelles avec ladite tierce partie est nécessaire à la fourniture de produits ou services, ou qu’une autorité judiciaire ou administrative compétente exige à  <a href="www.debacteur.fr">Déb'Acteur.fr</a> de lui communiquer lesdites données personnelles.</p>
	<h2 class="title">Durée de conservation</h2>
	<p>Les données personnelles sont conservées pendant toute la durée nécessaire aux finalités pour lesquelles elles ont été communiquées à <a href="www.debacteur.fr">Déb'Acteur.fr</a> dans le respect de la réglementation applicable et sont, en tout état de cause, détruites à l’issue de celle-ci. Pour plus d’informations concernant les durées de conservation, vous pouvez nous contacter à l’adresse mail suivante : <a href="mailto:debacteur@protonmail.com">debacteur@protonmail.com</a>.</p>

	<h2 class="title">Transfert de vos données</h2>
	<p>Nous conservons vos données personnelles au sein de l’Union Européenne (France).</p>
	<h2 class="title">Vos droits sur vos données personnelles</h2>
	<p>À tout moment, vous avez la faculté d’exercer l’un de vos droits en ce qui concerne vos données personnelles, à savoir :</p>
	<ul>
		<li>Votre droit d’accès ;</li>
		<li>Votre droit de rectification ;</li>
		<li>Votre droit d’opposition;</li>
		<li>Votre droit à l’effacement ;</li>
		<li>Votre droit à la portabilité ;</li> 
		<li>Votre droit à la limitation du traitement ;</li>
		<li>Votre droit à la décision individuelle automatisée ;</li> 
	</ul>
		<h3>Pour exercer vos droits vous pouvez soit</h3>
		<p>Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par <a href="www.debacteur.fr">Déb'Acteur.fr</a>, vous pouvez contacter son responsable :</p>
		<ul>
		<li>Envoyer un courrier à l’adresse suivante :
			<a href="www.debacteur.fr">Déb'Acteur.fr</a>, A l’attention du Responsable de Traitement, 43 Boulevard de Magenta 75010 Paris</li> 
		<li>Envoyer un courriel à l’adresse suivante :  <a href="mailto:debacteur@protonmail.com">debacteur@protonmail.com</a></li>
		</ul>
		<p>Veuillez cependant noter que les données personnelles relatives au nom de l’entité, l’adresse du siège social, l’adresse de livraison et les coordonnées de la personne s’occupant de la facturation sont obligatoires pour répondre à vos demandes et fournir les produits ou services demandés ; sans ces informations,  <a href="www.debacteur.fr">Déb'Acteur.fr</a> ne pourra pas être en mesure de répondre à vos demandes et fournir les produits ou services demandés.</p>
	<h2 class="title">Modification de notre politique de confidentialité</h2>
	<p><a href="www.debacteur.fr">Déb'Acteur.fr</a> peut être amené à modifier sa politique de confidentialité. Nous veillerons à ce que vous en soyez informés avant son entrée en vigueur par une mention spéciale sur notre site internet et/ou par courrier électronique.</p>
	<p>Vous reconnaissez avoir lu et compris la présente politique et consentez à ce que vos données personnelles soient utilisées et traitées selon les termes de la présente politique de confidentialité. 
	A défaut, vous vous engagez à ne plus :</p>
	<ul>
		<li>Naviguer sur le site internet de <a href="www.debacteur.fr">Déb'Acteur.fr</a> ;</li> 
		<li>Communiquer vos données personnelles à <a href="www.debacteur.fr">Déb'Acteur.fr</a> par tous moyens ; A contrario, <a href="www.debacteur.fr">Déb'Acteur.fr</a> ne pourra pas être en mesure de répondre à vos demandes et fournir les produits ou services demandés.</li> 
	</ul>
</div>  <!-- End Showcase -->
